{
  "openapi": "3.0.2",
  "info": {
    "version": "1.4",
    "title": "Trexity API",
    "license": {
      "name": "MIT",
      "url": "https://raw.githubusercontent.com/trexitycode/openapi/main/license"
    },
    "termsOfService": "https://trexity.com/terms-of-service/",
    "contact": {
      "email": "support@trexity.com",
      "url": "http://trexity.com"
    },
    "description": "# Concepts & Workflows\n\n**Parcels** represent an order, customer information and a delivery address.\n\n**Shipments** represent a route, has one or more parcels, requirements, and a pickup address.\n\n**Posting shipments** means the shipment will be sent to our driver community for pickup and delivery.\n\n### Simple Workflow\n\nCreate a simple shipment without worrying about optimizing the route.\n\n1. [Create a shipment](#operation/createShipment) and specify the parcels, customer information and delivery address\n2. [Get shipping labels](#operation/createShippingLabel) for the shipment, download, print, and affix to the parcel packaging\n3. [Post the shipment](#operation/postShipment) to our drivers for pickup and delivery\n\n> Optionally, when creating a shipment a future date can be specified for `scheduledPostAt`. This date will be when the\n> system will automatically post the shipment to our drivers. Before this date ensure the labels are printed and affixed\n> to the parcel packages.\n\n### \"Bundling\" Workflow\n\nCreate many shipments each with an optimal route that reduces time on the road and total cost.\n\n1. [Make a routing request](#operation/createRoutingRequest) with a batch of parcels each with a `scheduledPostAt` set to a future date\n2. [Monitor the routing request status](#operation/getRoutingStatus) by polling the status of the routing request\n3. [Get the routing result](#operation/getRoutingRequestResult) when routing is complete or errored \n4. [Get shipping labels](#operation/createShippingLabel) for each shipment created during the routing request, download, print, and affix to all packages\n\n> The date specified in `scheduledPostAt` will be when the system will automatically post the shipment to our drivers.\n> Before this date ensure the labels are printed and affixed to the parcel packages.\n\n### Parcel Status\n\nFollow the [Parcel Events](#section/Parcel-Events) guide to understand what webhooks you will need to listen to.\n\n# Responses\n\nAll endpoints will return an object and if there is actual data\nto be returned, it is going to be named `data`. Where `data` may\nbe an array or an object.\n\nIf there is `error` field present on the root JSON object, that\nmeans something went wrong and that error message is all we know about it.\nAdditionally, in some cases, you may inspect the HTTP status codes to\ngather more information.\n\nPlease check our payload/response examples in details as well as the\ncurl examples that are a part of each section that documents an operation.\n\nExample of a successful response:\n`{ data: ... }`\n\nExample of a response with an error:\n`{ error: 'Some error message', data: null }`\n"
  },
  "tags": [
    {
      "name": "Addresses",
      "description": "Group of endpoints for handling addresses.\n\n### Address Formatting\n\nIn general wherever an address is expected the format we accept is:\n\n```\nSTREET, CITY PROVINCE, POSTAL_CODE COUNTRY\n```\n\nHowever, we also accept newlines and/or commas delimiting each component.\n\nPostal code and country are optional, however it's better to include them\nto avoid any ambiguity when we attempt to geocode the address.\n\n**Good:**\n```\n123 Fake St, Ottawa ON\n123 Fake St, Toronto, Ontario\n123 Fake St, Toronto, Ontario, B4T 3F5\n```\n\n**Better:**\n```\n123 Fake St, Ottawa ON, K2G 8FT Canada\n123 Fake St, Toronto, Ontario, M4T 5F6 Canada\n123 Fake St, Toronto, Ontario, B4T 3F5, Canada\n```\n"
    },
    {
      "name": "Shipping Rates",
      "description": "Prior to creating a Shipment, you can calculate the rates based on the pickup address and the number of stops the driver has to do.\nSee our [shipment-rates](/#operation/shipment-rates) endpoint for more information.\n"
    },
    {
      "name": "Shipments",
      "description": "The most common approach to get a shipment on the road is to:\n  * [Create a Shipment](/#operation/createShipment)\n  * [Posting a Shipment](/#operation/postShipment)\n\nAfter [posting](/#section/Posting-a-shipment), assuming everything went well, Trexity system will keep pinging drivers in the vicinity of the pickup address.\nIn the rare case of not finding an available driver in the vicinity of the pickup address, Trexity will refuse to post the shipment.\n\nAlternatively, Trexity allows for planning in the future via Scheduling.\nYou can schedule the posting of the Shipment in the future.\nTrexity guarantees that the scheduled Shipment will not be posted or broadcasted prior to the time it was scheduled for.\nPlease see the [details](/#operation/createShipment) here.\n"
    },
    {
      "name": "Routing",
      "description": "Create and get status information for asynchronous routing requests.\n"
    },
    {
      "name": "Storage",
      "description": "Storage related operations.\n\n> IMPORTANT: These operations have a different server URL.\n"
    },
    {
      "name": "Webhooks",
      "description": "Retrieve and manage webhooks for a Trexity Merchant.\n\n## Parcel Events\n\nA Shipment is a container of parcels, each with their own delivery address.\nHowever, the Shipment has a single pickup address. As activity occurs on a\nparcel the Shipment's `currentStatus` oscilates between `OUT_FOR_DELIVERY`,\n`ARRIVED_AT_DELIVERY` and `DELIVERED`. However, the Shipment alone doesn't\ninform you of what parcel the status is for.\n\nTo listen to parcel events listen to the following webhooks:\n- `shipment.driver.picked_up` The driver has picked all parcels in the shipment\n- `shipment.driver.arrived_at_delivery` The driver has arrived at a parcel's delivery address\n- `shipment.driver.parcel_delivered` The driver has delivered a parcel\n\nThe request payload of these webhook events indicate the parcel that is currently\nbeing affected.\n\n## Verifying Webhook Requests\n\nAll webhook requests have a header that contains a signature signed with the Trexity Merchant's\nwebhook secret as found in their \"Trexity API\" settings. To verify the signature take the raw\nrequest body as text and create a SHA256 HMAC signed with the merchant's webhook secret and covert to hex.\n\nExample:\n```\n// nodejs\nconst text = await new Promise((resolve, reject) => {\n  const buff = []\n  req.setEncoding('utf8')\n  req.on('data', chunk => (buff.push(chunk)))\n  req.once('end', resolve(buff.join('')))\n  req.once('error', reject)\n})\n\nconst sig = require('crypto')\n  .createHmac('sha256', process.env.TRX_MERCH_WEBHOOK_SECRET)\n  .update(text)\n  .digest('hex')\n\nconst isValid = req.headers['x-trexity-signature'] === sig\n\nif (!isValid) {\n  res.statusCode = 403\n  res.end('Forbidden', 'utf8')\n  return\n}\n\nconst body = JSON.parse(body)\n// ...\n```\n"
    }
  ],
  "servers": [
    {
      "description": "production",
      "url": "https://trexity.app/api/v1_0"
    }
  ],
  "components": {
    "securitySchemes": {
      "MerchantApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "This authentication strategy uses a Trexity Merchant API KEY. This API KEY is used\nas a bearer token.\n\nIn order to obtain a Trexity Merchant API key, you need to sign-up as Merchant at https://merchant.trexity.com/\nand create an API KEY through your merchant portal.\n\nFeel free to contact support@trexity.com for any questions you may have.\n\nExample:\n```\ncurl -X POST {server-url}/shipment-rates \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer <Merchant API Key>' \\\n  -d '{\n    \"pickupAddress\": \"9 Slack Road, Ottawa ON, CA\",\n    \"deliveryAddresses\": [\"123 Slater Street, Ottawa ON, CA\"],\n    \"requirements\": {},\n    \"orderValue\": 2500\n  }'\n```\n\nPlease check our [curl examples](/#operation/shipment-rates) for more examples.\n"
      },
      "AccessTokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "This authentication stratigy requires an access token used as a 'Bearer' token.\n\nCurrently access tokens are only obtained and used by trusted services.\n\nExample:\n```\n// nodejs\nrequire('http').get('{server-url}/{endpoint}', {\n  headers: {\n    accept: 'application/json',\n    authorization: `Bearer ${process.env.ACCESS_TOKEN}`\n  }\n}, (res) => {\n  // ... handle response\n})\n```\n"
      }
    },
    "schemas": {
      "AddressOrLatLng": {
        "description": "Latitude and longitude values separated by comma or an\naddress to be geocoded into latitude and longitude values.\n\nAddresses are in the format \"STREET, CITY PROVINCE, POSTAL_CODE COUNTRY\"\nWhere postal code and country are optional, but it's better to include them to avoid ambiguity.\n\nExamples:\n\n- 44.339565,-78.666433\n- 308 Rideau St, Ottawa ON, K1N 5Y5 Canada\n",
        "type": "string",
        "maxLength": 512
      },
      "ShipmentRequirements": {
        "type": "object",
        "description": "Object representing the requirements that to be met by a driver in order\nfor them to be considered for delivery.\n",
        "properties": {
          "vehicleType": {
            "type": "string",
            "description": "Describe the type of vehicle that must be used for a shipment.\n\n- small - Sedan, hatchback, etc [example: Honda Civic]\n- medium - SUV, minivan, etc [example: Toyota Sienna]\n- large - Cargo van, pickup truck, etc [example: Ford F150]\n",
            "enum": [
              "small",
              "medium",
              "large"
            ]
          },
          "legalAgeAlcohol": {
            "type": "boolean",
            "description": "Must be delivered by a driver who is of legal age to transport alcohol.\n"
          },
          "perishable": {
            "type": "boolean",
            "description": "Must be delivered by a driver who is equipped to deliver perishable items.\n"
          },
          "returnReusables": {
            "type": "boolean",
            "description": "Must be delivered by a driver who will return collected reusables back to pickup.\n"
          },
          "custom pricing": {
            "type": "boolean",
            "description": "Please contact a Trexity support agent for custom pricing options.\n"
          }
        }
      },
      "ShipmentRatesPayload": {
        "description": "A minimal object that describes a shipment",
        "type": "object",
        "required": [
          "deliveryAddresses",
          "requirements"
        ],
        "properties": {
          "pickupAddress": {
            "$ref": "#/components/schemas/AddressOrLatLng"
          },
          "deliveryAddresses": {
            "type": "array",
            "maxItems": 19,
            "minItems": 1,
            "description": "One or more latitude and longitude values separated by comma or an address to be geocoded into latitude and longitude values.\n\nExamples:\n\n- 44.339565,-78.666433\n- 308 Rideau St, Ottawa, ON K1N 5Y5\n",
            "items": {
              "$ref": "#/components/schemas/AddressOrLatLng"
            }
          },
          "requirements": {
            "$ref": "#/components/schemas/ShipmentRequirements"
          },
          "orderValue": {
            "type": "number",
            "minimum": 0,
            "description": "The order value, if any. Specified in cents."
          }
        }
      },
      "GeoJSONDirectionsResult": {
        "type": "object",
        "nullable": true,
        "description": "GeoJSON object that defines the path of the Shipment, taking into account multiple dropoffs (if any).\n\nGeoJSON is defined at https://tools.ietf.org/html/rfc7946\n\nWe are defining the geometry of the path using an array of LineString, which in plain English means\n\npiecewise linear segments connected on the map.\n"
      },
      "ShipmentRatesResponse": {
        "description": "Returns all rates that apply for this Shipment. Each rate will have the distance (in meters), duration (in seconds) of the trip\nand the fee (in Canadian cents).\n",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Unique rate name"
                },
                "total": {
                  "type": "number",
                  "description": "The total fee in cents for delivery with taxes."
                },
                "totalWithoutTaxes": {
                  "type": "number",
                  "description": "The total fee in cents for delivery without taxes."
                },
                "taxRates": {
                  "type": "object",
                  "description": "**(added in v1.1)** An object whos keys are tax rate codes and value is the tax rate.\n",
                  "additionalProperties": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "exclusiveMinimum": true,
                    "exclusiveMaximum": true
                  }
                },
                "directionsResult": {
                  "$ref": "#/components/schemas/GeoJSONDirectionsResult"
                },
                "pickupDeliveryDistance": {
                  "type": "number",
                  "description": "Estimated distance (in meters) that the driver would need to drive (starting from the pickup location) in order to finalize this shipment (takes into account multiple dropoffs, if any)."
                },
                "pickupDeliveryDuration": {
                  "type": "number",
                  "description": "Estimated duration (in seconds) of the entire trip (starting from the pickup location) that the driver would have to make in order to finalize this shipment (takes into account multiple dropoffs, if any).\n"
                }
              }
            }
          }
        }
      },
      "SimplifiedDateISOString": {
        "description": "Date time in Simplified ISO8601 format YYYY-MM-DDTHH:mm:ss.sssZ\n\nNote that ISO date strings are always in UTC time.\n\nAn example: 2020-07-25T10:48:08.987Z\n",
        "type": "string",
        "nullable": true
      },
      "ShipmentStatus": {
        "type": "string",
        "enum": [
          "WAITING_FOR_ACCEPTANCE",
          "WAITING_TO_START",
          "EN_ROUTE_TO_PICKUP",
          "ARRIVED_AT_PICKUP",
          "OUT_FOR_DELIVERY",
          "ARRIVED_AT_DELIVERY",
          "DELIVERED",
          "RENOUNCED_BY_DRIVER",
          "CANCELLED",
          "EXPIRED",
          "ON_HOLD",
          ""
        ],
        "description": "The status of the queried Shipment.\n\n(empty string) - Shipment is a draft. Shipments are considered a draft if they haven't been posted to the driver network yet and scheduling has been disabled.\n\nWAITING_FOR_ACCEPTANCE - Shipments that have been posted to the driver network, but waiting for a driver to accept them. When a shipment is posted the owning merchant's credit card is pre-authorized for the full shipment rate.\n\nEN_ROUTE_TO_PICKUP - Shipments where a driver has accepted and the driver is driving to the pickup location.\n\nARRIVED_AT_PICKUP - Shipments where a driver has arrived at the pickup location.\n\n---\n\n**A shipment can osciliate between these three statuses while parecels are being deliveried.**\n\nOUT_FOR_DELIVERY - Shipments where a driver is delivering a parcel.\n\nARRIVED_AT_DELIVERY - Shipments where a driver has arrived at a parcel's the delivery location.\n\nDELIVERED - Shipments that where a driver has delivered a parcel.\n\n---\n\nRENOUNCED_BY_DRIVER - Shipments that have been explicitly unaccepted by a driver. Drivers can only renounce shipments before they have picked up any orders.\n\nCANCELLED - Shipments that have been cancelled.\n\nEXPIRED - Shipments that have been posted to drivers and have waited for acceptance longer than 7 days. Similar to being on hold, the shipment rate pre-authorization is reversed on the owning merchant's credit card, and these shipments can be re-posted at a later time.\n\nON_HOLD - Shipments that have been posted but not accepted and have been explicitly removed from the driver network. All shipments that are on hold will have the shipment rate pre-authorization reversed on the owning merchant's credit card. Additionally, shipments on hold can be re-posted at a later time.\n"
      },
      "Location": {
        "description": "A location described by latitude and longitude",
        "type": "object",
        "nullable": true,
        "properties": {
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 90
          }
        }
      },
      "ParcelResponse": {
        "description": "A parcel to be devlivered in a shipment",
        "type": "object",
        "properties": {
          "deliveryAddress": {
            "type": "string",
            "description": "The destination address this parcel will be delivered to"
          },
          "deliveryAddressNotes": {
            "type": "string",
            "description": "Extra notes relating to the delivery address, such as apartment/unit number, reference, description of the location, etc."
          },
          "deliveryName": {
            "type": "string",
            "description": "The name of the recipient"
          },
          "description": {
            "type": "string",
            "description": "Description of the parcel being delivered"
          },
          "orderId": {
            "type": "string",
            "maxLength": 20,
            "description": "The order ID that this parcel belongs to."
          },
          "parcelValue": {
            "type": "number",
            "minimum": 0,
            "description": "The dollar value of the parcel in CDN as cents"
          },
          "deliveryEmail": {
            "type": "string",
            "format": "string",
            "description": "The email address of the recipient"
          },
          "deliveryPhone": {
            "type": "string",
            "description": "The cell phone number of the recipient"
          },
          "driverDeliveredAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "deliveryAddressLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "isDelivered": {
            "type": "boolean",
            "description": "Whether this Parcel has been delivered.\nIf it has been, we store the timestamp in driverDeliveredAt.\n"
          },
          "deliveryAddressProvince": {
            "type": "string",
            "nullable": true,
            "description": "The province of the deliveryAddress. Example: Ontario.\n"
          },
          "deliveryAddressCountry": {
            "type": "string",
            "nullable": true,
            "description": "The country of the deliveryAddress. Example: Canada.\n"
          },
          "deliveryAddressCity": {
            "type": "string",
            "nullable": true,
            "description": "The city of the pickupAddress. Example: Ottawa.\n"
          },
          "deliveryAddressServiceCity": {
            "type": "string",
            "nullable": true,
            "description": "The service city of the pickupAddress. Example: Ottawa, ON.\n"
          },
          "requiresPersonHandoff": {
            "type": "boolean",
            "description": "Does this parcel require in-person handoff?"
          },
          "secondsFromPickupToDelivery": {
            "type": "number",
            "description": "If a driver has accpeted, the estimated seconds it will take the driver to arrive at the pickup address."
          },
          "externalId": {
            "type": "string",
            "maxLength": 256,
            "description": "**(added in v1.2)**  The ID of the external entity that is associated to this parcel (e.g. the external order or shipment ID).\n"
          },
          "metadata": {
            "type": "object",
            "description": "**(added in v1.1)** The metadata fields associated to the parcel.\n"
          }
        }
      },
      "Shipment": {
        "type": "object",
        "description": "A shipment object that has a single pickup address and can have several parcels each with their on delivery address.",
        "properties": {
          "currentStatus": {
            "$ref": "#/components/schemas/ShipmentStatus"
          },
          "pickupAddress": {
            "type": "string",
            "description": "The starting address that the driver must pick up the parcel(s) from."
          },
          "pickupAddressNotes": {
            "type": "string",
            "description": "Extra notes relating to the pickup address, such as apartment/unit number, reference, description of the location, etc."
          },
          "requirements": {
            "$ref": "#/components/schemas/ShipmentRequirements"
          },
          "pickupNotes": {
            "type": "string",
            "description": "Special notes or instructions regarding pickup"
          },
          "scheduledPostAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the Shipment in Trexity"
          },
          "merchantId": {
            "type": "string",
            "description": "User id of the Merchant who is the owner of the Shipment"
          },
          "driverId": {
            "type": "string",
            "description": "User id of the Driver who has accepted this Shipment",
            "nullable": true
          },
          "directionsResult": {
            "$ref": "#/components/schemas/GeoJSONDirectionsResult"
          },
          "gdprRedacted": {
            "type": "boolean",
            "description": "Whether this shipment has been GDPR redacted.\nPlease see https://ec.europa.eu/info/law/law-topic/data-protection/reform/rules-business-and-organisations_en for more details.\n"
          },
          "archived": {
            "type": "boolean",
            "description": "Whether this Shipment has been archived."
          },
          "pickupAddressLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "pickupAddressProvince": {
            "type": "string",
            "nullable": true,
            "description": "The province of the pickupAddress. Example: Ontario.\n"
          },
          "pickupAddressCountry": {
            "type": "string",
            "nullable": true,
            "description": "The country of the pickupAddress. Example: Canada.\n"
          },
          "pickupAddressCity": {
            "type": "string",
            "nullable": true,
            "description": "The city of the pickupAddress. Example: Ottawa.\n"
          },
          "pickupAddressServiceCity": {
            "type": "string",
            "nullable": true,
            "description": "The service city of the pickupAddress. Example: Ottawa, ON.\n"
          },
          "cachedDriverName": {
            "type": "string",
            "nullable": true,
            "description": "Name of the driver that is delivering this Shipment."
          },
          "cachedTotalRouteDistance": {
            "type": "number",
            "nullable": true,
            "description": "Approximation of the total distance (in meters) of the route, taking into account multiple parcels (if any)."
          },
          "cachedTotalRouteDuration": {
            "type": "number",
            "nullable": true,
            "description": "Approximation of the total duration (in seconds) that the driver would have to drive in order to complete the Shipment.\nTakes into account multiple parcels (if any).\n"
          },
          "cachedTotalWithoutTaxes": {
            "type": "number",
            "nullable": true,
            "description": "Total Merchant cost without taxes (in Canadian cents)"
          },
          "cachedTaxes": {
            "type": "object",
            "nullable": true,
            "description": "Details and percentages of the taxes that apply for this Shipment."
          },
          "cachedMerchantAddress": {
            "type": "string",
            "description": "Merchant's address. Example: 9 Slack Road, Nepean ON, CA\n"
          },
          "merchantPpid": {
            "type": "string",
            "nullable": true,
            "description": "Partner-provided ID of Shipment's merchant."
          },
          "merchantName": {
            "type": "string",
            "description": "Name of Shipment's merchant."
          },
          "merchantEmail": {
            "type": "string",
            "description": "Merchant's email address."
          },
          "merchantPhone": {
            "type": "string",
            "description": "Merchant's phone number. Example: +1 555 123 1234\n"
          },
          "createdAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "driverAcceptedAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "driverStartedAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "driverArrivedPickupAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "driverPickedUpAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "postedAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "lastBroadcastedAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "driverTimeToPickup": {
            "type": "number",
            "nullable": true,
            "description": "Approximate time (in seconds) that the driver must drive from their location (at the moment of accepting) to the pickup address."
          },
          "cancellationAcknowledgedByDriver": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether or not the driver has acknowledged after cancelling."
          },
          "scheduledPostError": {
            "type": "string",
            "description": "If anything goes wrong during scheduling, this will contain human-readable description of the error. Typically, it's empty.",
            "nullable": true
          },
          "postErrors": {
            "type": "array",
            "description": "If anything goes wrong during posting, this will contain details of the errors. Typically, it's an empty array.",
            "nullable": true
          },
          "currentDriverEstimatedSecondsToPickup": {
            "type": "number",
            "nullable": true,
            "description": "Approximate time (in seconds) that the driver must drive from their current location to the pickup address.\nThis data may be delayed or stale.\nNote the difference between this and driverTimeToPickup - driverTimeToPickup is constant.\nThis will periodically be updated.\n"
          },
          "parcels": {
            "type": "array",
            "description": "The parcels that will be delivered in this shipment",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/ParcelResponse"
            }
          }
        }
      },
      "Parcel": {
        "description": "A parcel to be devlivered in a shipment",
        "type": "object",
        "properties": {
          "deliveryAddress": {
            "type": "string",
            "description": "The destination address this parcel will be delivered to in the format \"STREET, CITY PROVINCE, POSTAL_CODE COUNTRY\" (postal code and country are optional, but it's better to include them to avoid ambiguity).",
            "example": "123 Fake St, Ottawa Ontario, K2G 6FT Canada"
          },
          "deliveryAddressNotes": {
            "type": "string",
            "description": "Extra notes relating to the delivery address, such as apartment/unit number, reference, description of the location, etc."
          },
          "deliveryName": {
            "type": "string",
            "description": "The name of the recipient"
          },
          "description": {
            "type": "string",
            "description": "Description of the parcel being delivered"
          },
          "orderId": {
            "type": "string",
            "maxLength": 20,
            "description": "The order ID that this parcel belongs to."
          },
          "parcelValue": {
            "type": "number",
            "minimum": 0,
            "description": "The dollar value of the parcel in CDN as cents"
          },
          "deliveryEmail": {
            "type": "string",
            "format": "email",
            "description": "The email address of the recipient"
          },
          "deliveryPhone": {
            "type": "string",
            "description": "The cell phone number of the recipient"
          },
          "requiresPersonHandoff": {
            "type": "boolean",
            "description": "Does this parcel require in-person handoff?"
          },
          "externalId": {
            "type": "string",
            "maxLength": 256,
            "description": "**(added in v1.2)** The ID of the external entity that is associated to this parcel (e.g. the external order or shipment ID).\n"
          },
          "metadata": {
            "type": "object",
            "description": "**(added in v1.1)** Object with metadata fields. If the intent is to\nlist shipments with this metadata field, then ensure the value is\nsaved as a string and not say a number.\n"
          }
        }
      },
      "CreateShipmentPayload": {
        "description": "Payload object used to create a shipment",
        "type": "object",
        "required": [
          "requirements",
          "parcels"
        ],
        "properties": {
          "pickupAddress": {
            "$ref": "#/components/schemas/AddressOrLatLng"
          },
          "pickupAddressNotes": {
            "type": "string",
            "description": "Extra information relating to the pickup address ONLY, like the apartment/unit number."
          },
          "requirements": {
            "$ref": "#/components/schemas/ShipmentRequirements"
          },
          "pickupNotes": {
            "type": "string",
            "description": "Special notes or instructions regarding pickup like the description of the location, what door to use, etc."
          },
          "merchantPpid": {
            "type": "string",
            "description": "Partner-provided ID of the merchant. This ID can be used when querying for shipments. Only used by Partner accounts."
          },
          "merchantName": {
            "type": "string",
            "description": "Partner-provided name of the merchant. This will be displayed in place of the merchant name defined in the merchant profile. Only used by Partner accounts."
          },
          "merchantPhone": {
            "type": "string",
            "description": "Partner-provided phone of the merchant. This will be displayed in place of the merchant phone defined in the merchant profile. Only used by Partner accounts."
          },
          "merchantEmail": {
            "type": "string",
            "description": "Partner-provided email of the merchant. This will be displayed in place of the merchant email defined in the merchant profile. Only used by Partner accounts."
          },
          "parcels": {
            "type": "array",
            "description": "The parcels that will be delivered in this shipment",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Parcel"
                },
                {
                  "type": "object",
                  "required": [
                    "deliveryAddress",
                    "deliveryName",
                    "description",
                    "orderId",
                    "parcelValue"
                  ]
                }
              ]
            }
          },
          "scheduledPostAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "ignoreTargetDeliveryDuration": {
            "type": "boolean",
            "description": "Ignore the target delivery duration for this shipment only"
          }
        }
      },
      "UpdateShipmentPayload": {
        "description": "Payload object describing the changes of a shipment",
        "type": "object",
        "properties": {
          "pickupAddress": {
            "$ref": "#/components/schemas/AddressOrLatLng"
          },
          "pickupAddressNotes": {
            "type": "string",
            "description": "Extra notes relating to the pickup address, such as apartment/unit number, reference, description of the location, etc."
          },
          "requirements": {
            "$ref": "#/components/schemas/ShipmentRequirements"
          },
          "pickupNotes": {
            "type": "string",
            "description": "Special notes or instructions regarding pickup"
          },
          "ignoreTargetDeliveryDuration": {
            "type": "boolean",
            "description": "Ignore the target delivery duration for this shipment only"
          },
          "merchantPpid": {
            "type": "string",
            "description": "Partner-provided ID of the merchant. This ID can be used when querying for shipments. Only used by Partner accounts."
          },
          "merchantName": {
            "type": "string",
            "description": "Partner-provided name of the merchant. This will be displayed in place of the merchant name defined in the merchant profile. Only used by Partner accounts."
          },
          "merchantPhone": {
            "type": "string",
            "description": "Partner-provided phone of the merchant. This will be displayed in place of the merchant phone defined in the merchant profile. Only used by Partner accounts."
          },
          "merchantEmail": {
            "type": "string",
            "description": "Partner-provided email of the merchant. This will be displayed in place of the merchant email defined in the merchant profile. Only used by Partner accounts."
          }
        }
      },
      "TrackingUrlResponse": {
        "description": "Tracking URL Response",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "trackingUrl": {
                "type": "string"
              }
            }
          }
        }
      },
      "ShippingLabelJSONResponse": {
        "description": "Response if `deliveryIndex` is not specified and `Accept` header is `application/json`.",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "base64image": {
                "description": "base64 contents of the shipping label (png image).",
                "type": "string"
              }
            }
          }
        }
      },
      "ParcelPayload": {
        "description": "Payload object used to identify a parcel",
        "type": "object",
        "required": [
          "pickupAddress",
          "scheduledPostAt",
          "deliveryAddress",
          "deliveryName",
          "description",
          "orderId",
          "parcelValue"
        ],
        "properties": {
          "pickupAddress": {
            "$ref": "#/components/schemas/AddressOrLatLng"
          },
          "pickupAddressNotes": {
            "type": "string",
            "description": "Extra information relating to the pickup address ONLY, like the apartment/unit number."
          },
          "requirements": {
            "$ref": "#/components/schemas/ShipmentRequirements"
          },
          "pickupNotes": {
            "type": "string",
            "description": "Special notes or instructions regarding pickup like the description of the location, what door to use, etc."
          },
          "scheduledPostAt": {
            "$ref": "#/components/schemas/SimplifiedDateISOString"
          },
          "ignoreTargetDeliveryDuration": {
            "type": "boolean",
            "description": "Ignore the target delivery duration for this shipment only"
          },
          "deliveryAddress": {
            "type": "string",
            "description": "The destination address this parcel will be delivered to in the format \"STREET, CITY PROVINCE, POSTAL_CODE COUNTRY\" (postal code and country are optional, but it's better to include them to avoid ambiguity).",
            "example": "123 Fake St, Ottawa Ontario, K2G 6FT Canada"
          },
          "deliveryAddressNotes": {
            "type": "string",
            "description": "Extra notes relating to the delivery address, such as apartment/unit number, reference, description of the location, etc."
          },
          "deliveryName": {
            "type": "string",
            "description": "The name of the recipient"
          },
          "description": {
            "type": "string",
            "description": "Description of the parcel being delivered"
          },
          "orderId": {
            "type": "string",
            "maxLength": 20,
            "description": "The order ID that this parcel belongs to."
          },
          "parcelValue": {
            "type": "number",
            "minimum": 0,
            "description": "The dollar value of the parcel in CDN as cents"
          },
          "deliveryEmail": {
            "type": "string",
            "format": "email",
            "description": "The email address of the recipient"
          },
          "deliveryPhone": {
            "type": "string",
            "description": "The cell phone number of the recipient"
          },
          "requiresPersonHandoff": {
            "type": "boolean",
            "description": "Does this parcel require in-person handoff?"
          },
          "metadata": {
            "type": "object",
            "description": "**(added in v1.1)**\nThe metadata fields associated to the parcel. If the intent is to\nlist shipments with this metadata field, then ensure the value is\nsaved as a string and not say a number.\n"
          }
        }
      },
      "RoutingRequest": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the asynchronous request. This can be used to retrieve the results\nof a request when it has completed.\n"
          },
          "callbackInSeconds": {
            "type": "integer",
            "description": "An estimated number of seconds to complete the request.\nWait this long before checking the status again.\n"
          },
          "isAccepted": {
            "type": "boolean",
            "description": "Specifies if the request is accepted. A request will not be accepted\nif it is not valid.\n"
          },
          "isCompleted": {
            "type": "boolean",
            "description": "Specifies if the request has completed."
          }
        }
      },
      "RoutingResult": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "The message of the error"
                },
                "code": {
                  "type": "string",
                  "enum": [
                    "DELIVERY_TOO_FAR",
                    "PICKUP_OUTSIDE_SERVICE_AREA",
                    "DELIVERY_NO_GEOCODE",
                    "PICKUP_NO_GEOCODE",
                    "SYSTEM_ERROR"
                  ],
                  "description": "The error code that identifies the error"
                },
                "orderId": {
                  "type": "string",
                  "description": "The \"orderId\" of the parcel this error relates to"
                },
                "params": {
                  "type": "object",
                  "description": "An object that contains extra information related to the error (i.e. address, etc. )\n"
                }
              }
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "shipments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Shipment"
                }
              },
              "unassignedOrders": {
                "type": "array",
                "description": "Array of order IDs that could not be assigned to a shipment due to\ndelivery contraints or an error occurred when validating the parcel\n",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WebhookEventName": {
        "type": "string",
        "enum": [
          "shipment.created",
          "shipment.updated",
          "shipment.deleted",
          "shipment.posted",
          "shipment.driver.accepted",
          "shipment.driver.arrived_at_pickup",
          "shipment.driver.picked_up",
          "shipment.driver.arrived_at_delivery",
          "shipment.driver.parcel_delivered",
          "shipment.completed",
          "shipment.cancelled",
          "shipment.driver.renounced",
          "shipment.on_hold"
        ]
      },
      "Webhook": {
        "description": "A registered webhook",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "merchantId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "merchant-webhook"
            ]
          },
          "eventName": {
            "$ref": "#/components/schemas/WebhookEventName"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ShipmentWebhookPayload": {
        "description": "Webhook payload during a shipment event.",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Shipment"
          }
        }
      },
      "ParcelWebhookPayload": {
        "description": "Webhook payload during a parcel event.",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "properties": {
              "shipmentId": {
                "type": "string",
                "description": "The ID of the shipment containing the parcel affected."
              },
              "deliveryIndex": {
                "type": "integer",
                "description": "The index of the parcel affected within the shipment."
              },
              "orderUuid": {
                "type": "string",
                "description": "The Trexity generated unique identifier for the parcel/order."
              },
              "parcel": {
                "$ref": "#/components/schemas/ParcelResponse"
              }
            }
          }
        }
      }
    },
    "responses": {
      "FileResponse": {
        "description": "Returns the binary content of the file in question.\n\nPlease note that our storage endpoints provide [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) header for caching purposes.\n",
        "content": {
          "application/octet-stream": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      }
    },
    "parameters": {
      "x-trexity-signature": {
        "name": "x-trexity-signature",
        "in": "header",
        "description": "The SHA256 HMAC signature for the request.",
        "schema": {
          "type": "string"
        }
      },
      "x-trexity-event-name": {
        "name": "x-trexity-event-name",
        "in": "header",
        "description": "Webhook event name.",
        "schema": {
          "$ref": "#/components/schemas/WebhookEventName"
        }
      },
      "x-trexity-webhook-order-id": {
        "name": "x-trexity-webhook-order-id",
        "in": "header",
        "description": "The webhook processing sort order. Webhooks may not be delivered in order, but this value can be used to determine processing order.",
        "schema": {
          "type": "integer"
        }
      }
    }
  },
  "security": [
    {
      "MerchantApiKeyAuth": []
    },
    {
      "AccessTokenAuth": []
    }
  ],
  "paths": {
    "/addresses/check": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address to check, where the postal code/zip code is optional.",
            "example": "123 Fake St, Ottawa ON, CA"
          }
        ],
        "tags": [
          "Addresses"
        ],
        "summary": "Check an address",
        "operationId": "checkAddress",
        "description": "**(added in v1.1)**\n\nChecks an address and returns a result that identifies if the address can be\nused as a pickup address/business address, and what delivery classification it\nfalls under.\n\n### Postal Code/Zip Code\n\nThe postal code (or zip code) is optional in the address, but specifiying it could\nresult in a more accurate address check.\n\n### Rate Limiting\n\nThis operation can be requested without authentication, however it will have a\nstrict rate limit of 3 requests every 10 seconds.\n\nHowever, authenticated requests can request 12 times every 10 seconds.\n",
        "security": [
          {},
          {
            "MerchantApiKeyAuth": []
          },
          {
            "AccessTokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "pickup": {
                          "type": "boolean",
                          "description": "If `true` then the address can be used as a pickup address (or business address)."
                        },
                        "delivery": {
                          "type": "string",
                          "enum": [
                            "none",
                            "normal",
                            "extended"
                          ],
                          "description": "The delivery classification of the address.\n\n`none` = The address is outside a known delivery zone and is unserviceable.\n\n`normal` = The address is serviceable and normal delivery rates apply.\n\n`extended` = The address is serviceable and surcharges may apply.\n"
                        },
                        "lngLat": {
                          "type": "object",
                          "description": "**(added in v1.3)**\n\nThe latitude and logitude of the checked address.\n",
                          "properties": {
                            "longitude": {
                              "type": "number",
                              "description": "Longitude of the address"
                            },
                            "latitude": {
                              "type": "number",
                              "description": "Latitude of the address"
                            }
                          }
                        },
                        "serviceCity": {
                          "type": "string",
                          "description": "**(added in v1.3)**\n\nService city that the address is located. Provided in the format: \"(city name), (2 letter abbreviation of province)\" (may or may not be supported by Trexity)\n"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Address could not be recognized as a valid address. Review address and ensure all address components are present and follow formatting guide."
          },
          "429": {
            "description": "The request has been rate limited. Try making the request again after the rate limit window."
          },
          "500": {
            "description": "Server error. Try making the request again."
          }
        }
      }
    },
    "/shipment-rates": {
      "post": {
        "tags": [
          "Shipping Rates"
        ],
        "summary": "Simple rate",
        "description": "Calculate the rate for a simple shipment without route optimization.\n\nReturns the distance (in meters), travel duration (in seconds), and fee from a pickup address\nto the completion of the shipment (takes into account multiple parcel dropoffs, if any).\nSupports specifying an order value parameter, which will check against API Preferences\nconfigured in the merchant portal.\n\nIf no `pickupAddress` is specified then the merchant's business address will be used as the pickup address.\n",
        "operationId": "shipment-rates",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -X POST {server-url}/shipment-rates\\\n  -H 'Content-Type: application/json'\\\n  -H 'Authorization: Bearer <Trexity API Key>'\\\n  -d '{\n    \"pickupAddress\": \"9 Slack Road, Ottawa ON, CA\",\n    \"deliveryAddresses\": [\"123 Slater Street, Ottawa ON, CA\"],\n    \"requirements\": {},\n    \"orderValue\": 2500\n  }'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentRatesResponse"
                },
                "examples": {
                  "Can Deliver": {
                    "value": {
                      "data": [
                        {
                          "totalWithoutTaxes": 1688,
                          "name": "Trexity Local Delivery",
                          "taxRates": {
                            "HST": 0.13
                          },
                          "pickupDeliveryDuration": 2121,
                          "pickupDeliveryDistance": 17172,
                          "directionsResult": {
                            "features": [
                              {
                                "geometry": {
                                  "type": "LineString",
                                  "coordinates": [
                                    [
                                      -75.72048,
                                      45.32606
                                    ],
                                    [
                                      -75.72022,
                                      45.32575
                                    ],
                                    [
                                      -75.72007,
                                      45.32555
                                    ],
                                    [
                                      -75.72038,
                                      45.32544
                                    ],
                                    [
                                      -75.72209,
                                      45.32479
                                    ],
                                    [
                                      -75.72319,
                                      45.32436
                                    ],
                                    [
                                      -75.72502,
                                      45.32366
                                    ],
                                    [
                                      -75.72764,
                                      45.32266
                                    ],
                                    [
                                      -75.7343,
                                      45.32012
                                    ],
                                    [
                                      -75.73699,
                                      45.31907
                                    ],
                                    [
                                      -75.73815,
                                      45.31863
                                    ],
                                    [
                                      -75.73974,
                                      45.31802
                                    ],
                                    [
                                      -75.73994,
                                      45.31801
                                    ],
                                    [
                                      -75.74025,
                                      45.31792
                                    ],
                                    [
                                      -75.7417,
                                      45.31735
                                    ],
                                    [
                                      -75.74183,
                                      45.3173
                                    ],
                                    [
                                      -75.7422,
                                      45.31788
                                    ],
                                    [
                                      -75.74249,
                                      45.31834
                                    ],
                                    [
                                      -75.74303,
                                      45.31918
                                    ],
                                    [
                                      -75.74357,
                                      45.32011
                                    ],
                                    [
                                      -75.74428,
                                      45.32132
                                    ],
                                    [
                                      -75.7446,
                                      45.32186
                                    ],
                                    [
                                      -75.74507,
                                      45.32262
                                    ],
                                    [
                                      -75.74675,
                                      45.32537
                                    ],
                                    [
                                      -75.7486,
                                      45.32835
                                    ],
                                    [
                                      -75.74912,
                                      45.32923
                                    ],
                                    [
                                      -75.74962,
                                      45.33001
                                    ],
                                    [
                                      -75.75044,
                                      45.33134
                                    ],
                                    [
                                      -75.75067,
                                      45.33167
                                    ],
                                    [
                                      -75.7511,
                                      45.33242
                                    ],
                                    [
                                      -75.75171,
                                      45.33339
                                    ],
                                    [
                                      -75.75201,
                                      45.33394
                                    ],
                                    [
                                      -75.75287,
                                      45.3355
                                    ],
                                    [
                                      -75.75375,
                                      45.33713
                                    ],
                                    [
                                      -75.75483,
                                      45.33911
                                    ],
                                    [
                                      -75.75518,
                                      45.33977
                                    ],
                                    [
                                      -75.75584,
                                      45.34089
                                    ],
                                    [
                                      -75.75655,
                                      45.34206
                                    ],
                                    [
                                      -75.7569,
                                      45.34268
                                    ],
                                    [
                                      -75.75786,
                                      45.34434
                                    ],
                                    [
                                      -75.75866,
                                      45.34572
                                    ],
                                    [
                                      -75.75942,
                                      45.34698
                                    ],
                                    [
                                      -75.76006,
                                      45.34809
                                    ],
                                    [
                                      -75.76026,
                                      45.34836
                                    ],
                                    [
                                      -75.76049,
                                      45.34861
                                    ],
                                    [
                                      -75.76117,
                                      45.34926
                                    ],
                                    [
                                      -75.76187,
                                      45.34995
                                    ],
                                    [
                                      -75.7621,
                                      45.35022
                                    ],
                                    [
                                      -75.76231,
                                      45.3505
                                    ],
                                    [
                                      -75.76283,
                                      45.35145
                                    ],
                                    [
                                      -75.76295,
                                      45.35166
                                    ],
                                    [
                                      -75.76363,
                                      45.35288
                                    ],
                                    [
                                      -75.76475,
                                      45.35486
                                    ],
                                    [
                                      -75.76566,
                                      45.3565
                                    ],
                                    [
                                      -75.76625,
                                      45.35759
                                    ],
                                    [
                                      -75.76727,
                                      45.35935
                                    ],
                                    [
                                      -75.76763,
                                      45.36002
                                    ],
                                    [
                                      -75.76761,
                                      45.36012
                                    ],
                                    [
                                      -75.76766,
                                      45.36027
                                    ],
                                    [
                                      -75.76769,
                                      45.36053
                                    ],
                                    [
                                      -75.76768,
                                      45.36066
                                    ],
                                    [
                                      -75.76764,
                                      45.3608
                                    ],
                                    [
                                      -75.76757,
                                      45.36094
                                    ],
                                    [
                                      -75.76747,
                                      45.36107
                                    ],
                                    [
                                      -75.76727,
                                      45.36126
                                    ],
                                    [
                                      -75.766,
                                      45.36212
                                    ],
                                    [
                                      -75.76479,
                                      45.36289
                                    ],
                                    [
                                      -75.76477,
                                      45.36291
                                    ],
                                    [
                                      -75.76474,
                                      45.36299
                                    ],
                                    [
                                      -75.76451,
                                      45.36312
                                    ],
                                    [
                                      -75.76389,
                                      45.36345
                                    ],
                                    [
                                      -75.76335,
                                      45.36374
                                    ],
                                    [
                                      -75.76238,
                                      45.36425
                                    ],
                                    [
                                      -75.76147,
                                      45.36474
                                    ],
                                    [
                                      -75.75969,
                                      45.3657
                                    ],
                                    [
                                      -75.75897,
                                      45.36618
                                    ],
                                    [
                                      -75.75838,
                                      45.36665
                                    ],
                                    [
                                      -75.75665,
                                      45.36833
                                    ],
                                    [
                                      -75.75444,
                                      45.37044
                                    ],
                                    [
                                      -75.74848,
                                      45.37595
                                    ],
                                    [
                                      -75.74274,
                                      45.3812
                                    ],
                                    [
                                      -75.73835,
                                      45.38522
                                    ],
                                    [
                                      -75.73816,
                                      45.3854
                                    ],
                                    [
                                      -75.73737,
                                      45.38611
                                    ],
                                    [
                                      -75.73613,
                                      45.38726
                                    ],
                                    [
                                      -75.73556,
                                      45.38785
                                    ],
                                    [
                                      -75.73516,
                                      45.38828
                                    ],
                                    [
                                      -75.73463,
                                      45.38892
                                    ],
                                    [
                                      -75.73369,
                                      45.39013
                                    ],
                                    [
                                      -75.73317,
                                      45.39084
                                    ],
                                    [
                                      -75.73228,
                                      45.39198
                                    ],
                                    [
                                      -75.7309,
                                      45.39371
                                    ],
                                    [
                                      -75.72964,
                                      45.39524
                                    ],
                                    [
                                      -75.72912,
                                      45.39574
                                    ],
                                    [
                                      -75.72856,
                                      45.39622
                                    ],
                                    [
                                      -75.7281,
                                      45.39654
                                    ],
                                    [
                                      -75.72744,
                                      45.39691
                                    ],
                                    [
                                      -75.72456,
                                      45.39828
                                    ],
                                    [
                                      -75.72286,
                                      45.39906
                                    ],
                                    [
                                      -75.72178,
                                      45.39954
                                    ],
                                    [
                                      -75.72093,
                                      45.39989
                                    ],
                                    [
                                      -75.71979,
                                      45.40034
                                    ],
                                    [
                                      -75.71849,
                                      45.4008
                                    ],
                                    [
                                      -75.71714,
                                      45.40125
                                    ],
                                    [
                                      -75.71549,
                                      45.40175
                                    ],
                                    [
                                      -75.71453,
                                      45.40201
                                    ],
                                    [
                                      -75.71334,
                                      45.40231
                                    ],
                                    [
                                      -75.7124,
                                      45.40253
                                    ],
                                    [
                                      -75.71094,
                                      45.40285
                                    ],
                                    [
                                      -75.70871,
                                      45.40328
                                    ],
                                    [
                                      -75.70661,
                                      45.4037
                                    ],
                                    [
                                      -75.70437,
                                      45.40419
                                    ],
                                    [
                                      -75.70303,
                                      45.40453
                                    ],
                                    [
                                      -75.70176,
                                      45.40488
                                    ],
                                    [
                                      -75.70002,
                                      45.4054
                                    ],
                                    [
                                      -75.69832,
                                      45.40596
                                    ],
                                    [
                                      -75.69703,
                                      45.40644
                                    ],
                                    [
                                      -75.69667,
                                      45.4065
                                    ],
                                    [
                                      -75.69615,
                                      45.40668
                                    ],
                                    [
                                      -75.69523,
                                      45.40701
                                    ],
                                    [
                                      -75.69409,
                                      45.40741
                                    ],
                                    [
                                      -75.69383,
                                      45.40752
                                    ],
                                    [
                                      -75.69363,
                                      45.40763
                                    ],
                                    [
                                      -75.69346,
                                      45.40781
                                    ],
                                    [
                                      -75.69341,
                                      45.40792
                                    ],
                                    [
                                      -75.69339,
                                      45.40803
                                    ],
                                    [
                                      -75.69339,
                                      45.40817
                                    ],
                                    [
                                      -75.69344,
                                      45.40831
                                    ],
                                    [
                                      -75.69363,
                                      45.40857
                                    ],
                                    [
                                      -75.69383,
                                      45.40879
                                    ],
                                    [
                                      -75.69389,
                                      45.40895
                                    ],
                                    [
                                      -75.6941,
                                      45.40922
                                    ],
                                    [
                                      -75.69476,
                                      45.41006
                                    ],
                                    [
                                      -75.69579,
                                      45.41129
                                    ],
                                    [
                                      -75.69797,
                                      45.41383
                                    ],
                                    [
                                      -75.69912,
                                      45.41515
                                    ],
                                    [
                                      -75.70019,
                                      45.41642
                                    ],
                                    [
                                      -75.70101,
                                      45.41743
                                    ],
                                    [
                                      -75.7019,
                                      45.41845
                                    ],
                                    [
                                      -75.70106,
                                      45.4188
                                    ],
                                    [
                                      -75.69873,
                                      45.4198
                                    ],
                                    [
                                      -75.69724,
                                      45.42044
                                    ],
                                    [
                                      -75.69662,
                                      45.4207
                                    ]
                                  ]
                                },
                                "type": "Feature",
                                "properties": {
                                  "bounds": {
                                    "northeast": {
                                      "lat": 45.4207038,
                                      "lng": -75.6933862
                                    },
                                    "southwest": {
                                      "lat": 45.3172975,
                                      "lng": -75.7676887
                                    }
                                  }
                                }
                              }
                            ],
                            "type": "FeatureCollection"
                          },
                          "total": 1908
                        }
                      ]
                    }
                  },
                  "Cannot Deliver": {
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "description": "Payload that minimally describes a shipment.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentRatesPayload"
              },
              "example": {
                "pickupAddress": "456 Elgin Street, Ottawa, ON",
                "deliveryAddresses": [
                  "45.4132789,-75.6885815",
                  "225 Preston St, Ottawa, ON K1R 7R1"
                ],
                "requirements": {
                  "vehicleType": "small"
                },
                "orderValue": 2500
              }
            }
          }
        }
      }
    },
    "/shipments": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "$ref": "#/components/schemas/SimplifiedDateISOString"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "$ref": "#/components/schemas/SimplifiedDateISOString"
            }
          },
          {
            "in": "query",
            "name": "externalId",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "description": "**(added in v1.2)** The ID of the external entity that is associated to this parcel (e.g. the external order or shipment ID).\n"
            }
          },
          {
            "in": "query",
            "name": "merchantPpid",
            "deprecated": true,
            "description": "**(deprecated in v1.1)**\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Shipments"
        ],
        "summary": "List shipments",
        "operationId": "getShipments",
        "description": "List shipments that match the specified filters.\n\n## Filtering By Dates\n\nWhen filtering by a date range both the `fromDate` and `toDate` query parameters must be provided.\n\n## Filtering By External ID\n\nWhen filtering by a parcel's external ID you **cannot filter by dates**. Filtering by dates and external ID are mutually exclusive filters. If `externalId` is specified it will take precendence.\n**(added in v1.2)**\n\n## ~~Filtering By Parcel Metadata~~\n\n~~Parcel metadata fields can be filtered on by using query parameters with the following pattern `meta_{fieldName}`.~~\n\n~~Additionally, the metadata field must have been saved as a string, and not a number for example. This is required since\nthe query parameter value is not converted to a number.~~\n\n~~Example: `https://{server-url}/shipments?meta_partnerShipmentId=someid`~~\n**(deprecated in v1.2)**\n",
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -X GET {server-url}/shipments\n  -H 'Content-Type: application/json'\n  -H 'Authorization: Bearer <Trexity API Key>'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Shipment"
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "data": [
                        {
                          "id": "TRX904577741-T88",
                          "requirements": {},
                          "merchantId": "owr4aM8QVqV90MjgyvQT8dWlLeA3",
                          "driverId": null,
                          "directionsResult": null,
                          "gdprRedacted": false,
                          "archived": false,
                          "currentStatus": "",
                          "pickupAddress": "60 McLeod Street, Ottawa ON, CA",
                          "pickupNotes": "Please be careful since it's fragile!",
                          "pickupAddressLocation": null,
                          "pickupAddressProvince": "",
                          "pickupAddressCountry": "",
                          "pickupAddressCity": "",
                          "pickupAddressServiceCity": "",
                          "cachedDriverName": null,
                          "cachedTotalRouteDistance": null,
                          "cachedTotalRouteDuration": null,
                          "cachedTotalWithoutTaxes": null,
                          "cachedTaxes": null,
                          "cachedMerchantAddress": "9 Slack Road, Nepean ON, CA",
                          "merchantPpid": null,
                          "merchantName": "TOP KEK Clearing House",
                          "merchantPhone": "+1 555 123 1234",
                          "merchantEmail": "testemail@testing.com",
                          "createdAt": "2020-07-26T13:50:07.368Z",
                          "driverAcceptedAt": null,
                          "driverStartedAt": null,
                          "driverArrivedPickupAt": null,
                          "driverPickedUpAt": null,
                          "scheduledPostAt": null,
                          "postedAt": null,
                          "lastBroadcastedAt": null,
                          "driverTimeToPickup": null,
                          "cancellationAcknowledgedByDriver": false,
                          "scheduledPostError": "",
                          "postErrors": [],
                          "currentDriverEstimatedSecondsToPickup": null,
                          "parcels": [
                            {
                              "driverDeliveredAt": null,
                              "deliveryAddressLocation": null,
                              "deliveryAddress": "9 Slack Road, Nepean ON, CA",
                              "deliveryEmail": "new_email@bestemail.org",
                              "deliveryPhone": "",
                              "deliveryName": "Felix Hausdorff",
                              "description": "Glasses, bifocals",
                              "parcelValue": 12300,
                              "orderId": "API-0573",
                              "isDelivered": false
                            },
                            {
                              "driverDeliveredAt": null,
                              "deliveryAddressLocation": null,
                              "deliveryAddress": "150 Albert St, Ottawa, ON K1P 5G2, Canada",
                              "deliveryEmail": "",
                              "deliveryPhone": "",
                              "deliveryName": "Srinivasa Ramanujan",
                              "description": "Convergence theorems, 12 pack",
                              "parcelValue": 10500,
                              "orderId": "API-1010",
                              "isDelivered": false
                            },
                            {
                              "driverDeliveredAt": null,
                              "deliveryAddressLocation": null,
                              "deliveryAddress": "20 Colonnade Rd, Nepean, ON K2E 7M6, Canada",
                              "deliveryEmail": "",
                              "deliveryPhone": "",
                              "deliveryName": "Carl Friedrich Gauss",
                              "description": "FTOA x 4",
                              "parcelValue": 19900,
                              "orderId": "API-1020",
                              "isDelivered": false
                            }
                          ]
                        },
                        {
                          "id": "TRX478723613-XRK",
                          "requirements": {},
                          "merchantId": "owr4aM8QVqV90MjgyvQT8dWlLeA3",
                          "driverId": null,
                          "directionsResult": {
                            "type": "FeatureCollection",
                            "features": [
                              {
                                "type": "Feature",
                                "properties": {
                                  "bounds": {
                                    "southwest": {
                                      "lng": -75.7562437,
                                      "lat": 45.3255523
                                    },
                                    "northeast": {
                                      "lng": -75.6894101,
                                      "lat": 45.4115087
                                    }
                                  }
                                },
                                "geometry": {
                                  "type": "LineString",
                                  "coordinates": [
                                    [
                                      -75.69324,
                                      45.41151
                                    ],
                                    [
                                      -75.6928,
                                      45.41075
                                    ],
                                    [
                                      -75.69262,
                                      45.41045
                                    ],
                                    [
                                      -75.69251,
                                      45.41048
                                    ],
                                    [
                                      -75.69018,
                                      45.41146
                                    ],
                                    [
                                      -75.68944,
                                      45.41062
                                    ],
                                    [
                                      -75.68941,
                                      45.41058
                                    ],
                                    [
                                      -75.68949,
                                      45.41047
                                    ],
                                    [
                                      -75.68956,
                                      45.41034
                                    ],
                                    [
                                      -75.68963,
                                      45.41024
                                    ],
                                    [
                                      -75.68986,
                                      45.41004
                                    ],
                                    [
                                      -75.69054,
                                      45.40964
                                    ],
                                    [
                                      -75.69113,
                                      45.40933
                                    ],
                                    [
                                      -75.69132,
                                      45.40915
                                    ],
                                    [
                                      -75.69173,
                                      45.40896
                                    ],
                                    [
                                      -75.69313,
                                      45.40829
                                    ],
                                    [
                                      -75.69328,
                                      45.40821
                                    ],
                                    [
                                      -75.69437,
                                      45.40771
                                    ],
                                    [
                                      -75.69552,
                                      45.40722
                                    ],
                                    [
                                      -75.69694,
                                      45.40665
                                    ],
                                    [
                                      -75.69845,
                                      45.40609
                                    ],
                                    [
                                      -75.69919,
                                      45.40583
                                    ],
                                    [
                                      -75.70049,
                                      45.40542
                                    ],
                                    [
                                      -75.70143,
                                      45.40514
                                    ],
                                    [
                                      -75.70293,
                                      45.40472
                                    ],
                                    [
                                      -75.70484,
                                      45.40426
                                    ],
                                    [
                                      -75.70631,
                                      45.40392
                                    ],
                                    [
                                      -75.70725,
                                      45.40372
                                    ],
                                    [
                                      -75.70865,
                                      45.40344
                                    ],
                                    [
                                      -75.71113,
                                      45.40297
                                    ],
                                    [
                                      -75.71298,
                                      45.40255
                                    ],
                                    [
                                      -75.71487,
                                      45.40209
                                    ],
                                    [
                                      -75.7153,
                                      45.40195
                                    ],
                                    [
                                      -75.71627,
                                      45.40168
                                    ],
                                    [
                                      -75.71736,
                                      45.40135
                                    ],
                                    [
                                      -75.71837,
                                      45.40101
                                    ],
                                    [
                                      -75.71948,
                                      45.40062
                                    ],
                                    [
                                      -75.72064,
                                      45.40017
                                    ],
                                    [
                                      -75.72133,
                                      45.3999
                                    ],
                                    [
                                      -75.72379,
                                      45.39881
                                    ],
                                    [
                                      -75.72428,
                                      45.39859
                                    ],
                                    [
                                      -75.72658,
                                      45.3975
                                    ],
                                    [
                                      -75.72728,
                                      45.39716
                                    ],
                                    [
                                      -75.72777,
                                      45.39691
                                    ],
                                    [
                                      -75.72832,
                                      45.39657
                                    ],
                                    [
                                      -75.729,
                                      45.39608
                                    ],
                                    [
                                      -75.72952,
                                      45.39564
                                    ],
                                    [
                                      -75.72987,
                                      45.39525
                                    ],
                                    [
                                      -75.73081,
                                      45.39412
                                    ],
                                    [
                                      -75.73233,
                                      45.39221
                                    ],
                                    [
                                      -75.73354,
                                      45.39065
                                    ],
                                    [
                                      -75.73407,
                                      45.38994
                                    ],
                                    [
                                      -75.73481,
                                      45.38899
                                    ],
                                    [
                                      -75.73548,
                                      45.38823
                                    ],
                                    [
                                      -75.73614,
                                      45.38752
                                    ],
                                    [
                                      -75.73656,
                                      45.38707
                                    ],
                                    [
                                      -75.73749,
                                      45.38621
                                    ],
                                    [
                                      -75.73832,
                                      45.38544
                                    ],
                                    [
                                      -75.73996,
                                      45.38395
                                    ],
                                    [
                                      -75.74472,
                                      45.37959
                                    ],
                                    [
                                      -75.75079,
                                      45.37402
                                    ],
                                    [
                                      -75.75336,
                                      45.37166
                                    ],
                                    [
                                      -75.75376,
                                      45.3713
                                    ],
                                    [
                                      -75.7539,
                                      45.37128
                                    ],
                                    [
                                      -75.75392,
                                      45.37128
                                    ],
                                    [
                                      -75.75394,
                                      45.37127
                                    ],
                                    [
                                      -75.75397,
                                      45.37125
                                    ],
                                    [
                                      -75.75491,
                                      45.37041
                                    ],
                                    [
                                      -75.75509,
                                      45.37027
                                    ],
                                    [
                                      -75.75523,
                                      45.3702
                                    ],
                                    [
                                      -75.75546,
                                      45.37014
                                    ],
                                    [
                                      -75.75567,
                                      45.37015
                                    ],
                                    [
                                      -75.75585,
                                      45.3702
                                    ],
                                    [
                                      -75.75608,
                                      45.37031
                                    ],
                                    [
                                      -75.75619,
[...]
