{
  "openapi": "3.0.2",
  "info": {
    "version": "2.0.0-beta.1",
    "title": "Trexity API",
    "license": {
      "name": "MIT",
      "url": "https://raw.githubusercontent.com/trexitycode/openapi/main/license"
    },
    "termsOfService": "https://trexity.com/terms-of-service/",
    "contact": {
      "email": "support@trexity.com",
      "url": "http://trexity.com"
    },
    "description": "# Migrating to v2\n\nThis version of the API is a major departure from v1. We normalize around the concept of a shipment\nand provide a more consistent API. All endpoints are now shipment centric, and all webhook events\nare relative to a shipment.\n\n**Breaking Changes**\n\n- the concepts of a \"shipment\" and a \"parcel\" have been merged together into a [shipment](#tag/Shipments)\n- shipment IDs from v1 that were created from the \"Create a shipment\" endpoint will work when performing shipment read operations in v2, but the shipment ID returned will be different\n- parcel IDs from v1 will work as-is for shipment IDs in v2 with no exceptions\n- the complex rate endpoints have been replaced with a new set of [batching endpoints](#tag/Batching) that will perform the same tasks\n- [addressing](#tag/Addresses) has been changed from a single address string with a format, to a structured [address object](#tag/Addresses)\n- the following webhook events have been replaced:\n  - `parcel.picked_up` with `shipment.picked_up`\n  - `parcel.delivered` with `shipment.delivered`\n  - `parcel.returning` with `shipment.returning`\n  - `parcel.returned` with `shipment.returned`\n  - `shipment.driver.accepted` with `shipment.courier.accepted`\n  - `shipment.driver.arrived_at_pickup` with `shipment.courier.arrived_at_pickup`\n  - `shipment.driver.arrived_at_delivery` with `shipment.courier.arrived_at_delivery`\n  - `shipment.driver.renounced` with `shipment.courier.renounced`\n- the following webhook events have been removed:\n  - `shipment.completed` use `shipment.delivered` or `shipment.undeliverable` instead\n  - `shipment.driver.parcel_delivered` use `shipment.delivered` instead\n  - `shipment.driver.picked_up` use `shipment.picked_up` instead\n  - `shipment.posted` use `shipment.courier.accepted` instead\n\n**Updates**\n\n- a new endpiont has been added to retrieve your [webhook secret](/#operation/getWebhookSecretKey)\n\n# Issues\n\nPlease open [bug reports](https://github.com/trexitycode/openapi/issues/new?template=bug_report.md) or [feature requests](https://github.com/trexitycode/openapi/issues/new?template=feature_request.md) in the [issues](https://github.com/trexitycode/openapi/issues) board.\n\n# Usage Policy\n\nBy using this API to provide shipment rates to your customers you agree to display the [Rate](#operation/getSimpleRate) `name` without modification.\nThe [Rate](#operation/getSimpleRate) `description` can be replaced with a custom value (e.g. Same-day, etc.) or displayed as-is from the Rate.\n\nThis allows Trexity to ensure consistent messaging wherever Trexity shipment rates are displayed to your customers.\n\n## Suspension & Termination\n\nFailure to comply with this Usage Policy may result in suspension of your Trexity merchant account and/or API Keys. Continued failure to comply may result in the termination of your Trexity merchant account.\n\n# Concepts & Workflows\n\n## Concepts\n\n**Shipment** represents an order, has pickup information and customer information.\n\n**Rate** represents a price for completing a shipment.\n\n## Workflow\n\n1. [Calculate a shipment rate](#operation/calculateShipmentRates) by specifying pickup information, customer information and the delivery address to get a rate to show your customer and obtain an estimate for a pickup time\n2. [Create a shipment](#operation/createShipment) by specifying pickup information, customer information and the delivery address\n3. [Get shipment label](#operation/getShipmentLabel) for a shipment then affix to the shipment packaging\n4. [Listen for shipment events](#tag/Webhooks) to track the shipment until it is delivered\n\n## Sandbox Environment\n\nAll API operations have an alternate base URL available in the sandbox environment.\n\nTo use the sandbox environment:\n1. Create an account on the [Sandbox Merchant Portal](https://merchant.beta.trexity.com/signup)\n2. Navigate to the [API Keys page](https://merchant.beta.trexity.com/api/keys) in the Advanced area.\n3. Create a new API Key\n4. Use the new API Key and the sandbox base URL in your API requests\n\n> Use the dropdown in the top right of an API operation page to select the sandbox environment server.\n\n### Credit Cards\n\nWhen signing up for the sandbox environment you can use the  following\ncredit card with any 3-digit CVC and a future expiration date.\n\n```\n4000 0012 4000 0000\n```\n\n### Expectations\n\nThe sandbox environment is intended for development and testing purposes only.\nExpect latency to be higher than the production environment.\n\nWe use our sandbox environment as well when developing new features to ensure\nthere are no breaking changes. So expect the occasional breaking change when\nusing the sandbox environment.\n\n# Responses\n\n### Successful Responses\n\nAll endpoints, when responding successfully, will return a JSON object with a `data` field when there is data to return.\n```\n// typescript interface\ninterface SuccessResponse<T = object | any[]> {\n  data: T\n}\n```\n\n### Error Responses\n\nAll endpoints, when applicable and responding with a non 200 HTTP status code, will return a JSON object with an `errors` field.\n```\n// typescript interface\ninterface ErrorResponse {\n  errors: { message: string, code: string }[]\n}\n```\n"
  },
  "servers": [
    {
      "description": "production",
      "url": "https://trexity.app/api/v2"
    },
    {
      "description": "sandbox",
      "url": "https://trexity-driver-mobile.uc.r.appspot.com/api/v2"
    }
  ],
  "security": [
    {
      "MerchantApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Addresses",
      "description": "Group of endpoints for handling addresses.\n\n### Address Format\n\nIn general, whenever an endpoint accepts an address, we expect the following shape:\n\n```\n{\n  \"addressLine1\": \"123 Fake St\",\n  \"addressLine2\": \"Apt 4\",\n  \"city\": \"Ottawa\",\n  \"provinceCode\": \"ON\",\n  \"postalCode\": \"K2G 8FT\",\n  \"countryCode\": \"CA\"\n}\n```\n\n## Apartment / Unit / Suite\n\nTo specify an apartment, unit or suite as part of the address use the address line 2 field.\n```\n{\n  \"addressLine1\": \"123 Fake St\",\n  \"addressLine2\": \"Apt 4\",\n  \"city\": \"Ottawa\",\n  \"provinceCode\": \"ON\",\n  \"postalCode\": \"K2G 8FT\",\n  \"countryCode\": \"CA\"\n}\n```\n"
    },
    {
      "name": "Rating",
      "description": "Prior to creating a Shipment, you can calculate the rates based on the pickup and delivery addresses.\nSee our [rates](/#operation/getRate) endpoint for more information.\n"
    },
    {
      "name": "Shipments",
      "description": "A shipment is a central concept in the API. It contains a pickup address, delivery address with customer information, and represents a shipment that will be completed by a courier.\n"
    },
    {
      "name": "Batching",
      "description": "Batching is the process of optimizing a large set of deliveries from the same pickup location into efficient batches.\n"
    },
    {
      "name": "Custom Labels",
      "description": "All shipments come with a label that must be downloaded and affixed to the shipment packaging. To specify a custom label for your shipment do the following:\n\n1. Create a shipment with the `externalId` and `scanId` values specified in the request body\n2. Ensure that the `scanId` value is encoded as a QR code or 1D barcode on your label\n3. Affix your label to the shipment packaging before a courier picks it up\n\nWe always recommend providing us a sample label to test with to confirm that the label is scanable by our Courier App.\n\n> **Note:** If a custom label is specified, it is your responsibility to ensure that the label is affixed to the shipment packaging before a courier picks it up. Additionally, you will not be able to download a label from the Trexity API or your Trexity portal.\n"
    },
    {
      "name": "Receipts",
      "description": "Retrieve receipt information\n"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhooks.\n\n## Verifying Requests\n\nAll webhook requests have a header that contains a signature signed with the Trexity Merchant's\nwebhook secret as found in their \"Trexity API\" settings. Optionally, there is a [getSecretKey](#operation/getWebhookSecretKey) endpoint to retrieve the webhook secret programatically.\nTo verify the signature, take the raw request body as text and create a SHA256 HMAC signed with the merchant's webhook secret and convert to hex.\n\nExample:\n```\n// nodejs\nconst text = await new Promise((resolve, reject) => {\n  const buff = []\n  req.setEncoding('utf8')\n  req.on('data', chunk => (buff.push(chunk)))\n  req.once('end', resolve(buff.join('')))\n  req.once('error', reject)\n})\n\nconst sig = require('crypto')\n  .createHmac('sha256', process.env.TRX_MERCH_WEBHOOK_SECRET)\n  .update(text)\n  .digest('hex')\n\nconst isValid = req.headers['x-trexity-signature'] === sig\n\nif (!isValid) {\n  res.statusCode = 403\n  res.end('Forbidden', 'utf8')\n  return\n}\n\nconst body = JSON.parse(body)\n// ...\n```\n\n## Request Payload\n\nAll webhook requests will have the following headers:\n\n- `x-trexity-event-name` the event name\n- `x-trexity-signature` the SHA256 HMAC signature of the request\n- `x-trexity-webhook-order-id` the processing order of the webhook used to determine what order webhooks should be processed in\n\nAll webhook requests will have the following payload shape. Where `data` is the shipment object changed,\nlike returned from the [get shipment endpoint](#tag/Shipments/operation/getShipment)\n\n```\n{\n  \"timestamp\": \"2020-07-25T10:48:08.987Z\",\n  \"data\": {\n    ...the shipment object that changed...\n  }\n}\n```\n"
    },
    {
      "name": "Locations",
      "description": "Retrieve your locations.\n"
    },
    {
      "name": "Regions",
      "description": "Region related operations that usually involve service cities and their zones\n"
    }
  ],
  "paths": {
    "/addresses/check": {
      "post": {
        "operationId": "checkAddress",
        "tags": [
          "Addresses"
        ],
        "summary": "Check an address",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/addresses/check\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -d '{\n    \"delivery\": {\n      \"addressLine1\": \"456 Delivery St\",\n      \"city\": \"Ottawa\",\n      \"provinceCode\": \"ON\",\n      \"postalCode\": \"K1A 0A6\",\n      \"countryCode\": \"CA\"\n    },\n    \"pickup\": {\n      \"addressLine1\": \"123 Pickup Ave\",\n      \"city\": \"Ottawa\",\n      \"provinceCode\": \"ON\", \n      \"postalCode\": \"K2G 6F2\",\n      \"countryCode\": \"CA\"\n    }\n  }' \n"
          }
        ],
        "description": "Checks whether an address is serviceable and returns a result that identifies if the address can be\nused as a delivery address or a pickup address. If, a pickup address is provided, the result will\nindicate if the delivery address is in a tiered zone.\n\n### Rate Limiting\n\nThis operation can be requested without authentication, however it will have a\nstrict rate limit of 3 requests every 10 seconds.\n\nHowever, authenticated requests can request 12 times every 10 seconds.\n\n**Unexhaustive list of error codes.**\n\n- `invalid-delivery.addressLine1` = When the addressLine1 is missing\n- `invalid-delivery.city` = When the city is missing\n- `invalid-delivery.postalCode` = When the postalCode is missing, invalid or not acceptedable\n- `invalid-delivery.provinceCode` = When the province is missing, or is not acceptedable\n- `invalid-delivery.countryCode` = When the country is missing, or is not acceptedable\n- `invalid-pickup.addressLine1` = When the addressLine1 is missing\n- `invalid-pickup.city` = When the city is missing\n- `invalid-pickup.postalCode` = When the postalCode is missing, invalid or not acceptedable\n- `invalid-pickup.provinceCode` = When the province is missing, or is not acceptedable\n- `invalid-pickup.countryCode` = When the country is missing, or is not acceptedable\n- `unverified-delivery-address` = When the delivery address cannot be verified with a geocoded location\n- `unverified-pickup-address` = When the pickup address cannot be verified with a geocoded location\n",
        "security": [
          {},
          {
            "MerchantApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delivery": {
                    "type": "object",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/AddressDetailsDTO"
                      }
                    ],
                    "description": "The address to check."
                  },
                  "pickup": {
                    "type": "object",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/AddressDetailsDTO"
                      }
                    ],
                    "description": "The pickup address from which to generate the tiered zones.",
                    "example": {
                      "addressLine1": "124 Fake Winding Rd",
                      "city": "Ottawa",
                      "provinceCode": "ON",
                      "postalCode": "K2G 6F2",
                      "countryCode": "CA"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "pickup": {
                          "type": "boolean",
                          "description": "If `true` then the address can be used as a pickup address (or business address)."
                        },
                        "delivery": {
                          "type": "string",
                          "enum": [
                            "none",
                            "normal",
                            "extended",
                            "tier-1",
                            "tier-2",
                            "tier-3"
                          ],
                          "description": "The delivery classification of the address.\n\n`none` = The address is outside a known delivery zone and is unserviceable.\n\n`normal` = The address is serviceable and normal delivery rates apply.\n\n`extended` = The address is serviceable and surcharges may apply.\n\n`tier-1, tier-2, tier-3, ...` = The address is serviceable and the address is in a tier-1, tier-2, tier-3, etc. zone.\n"
                        },
                        "lngLat": {
                          "type": "object",
                          "description": "The latitude and logitude of the checked address.\n",
                          "properties": {
                            "longitude": {
                              "type": "number",
                              "description": "Longitude of the address"
                            },
                            "latitude": {
                              "type": "number",
                              "description": "Latitude of the address"
                            }
                          }
                        },
                        "serviceCity": {
                          "type": "string",
                          "description": "Service city that the address is located. Provided in the format: \"(city name), (2 letter abbreviation of province)\" (may or may not be supported by Trexity)\n"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/rates": {
      "post": {
        "operationId": "calculateShipmentRates",
        "tags": [
          "Rating"
        ],
        "summary": "Calculate shipment rates",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/rates\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -d '{\n    \"deliveryAddress\": {\n      \"addressLine1\": \"456 Delivery St\",\n      \"city\": \"Ottawa\",\n      \"provinceCode\": \"ON\",\n      \"postalCode\": \"K1A 0A6\",\n      \"countryCode\": \"CA\"\n    },\n    \"pickupAddress\": {\n      \"addressLine1\": \"123 Pickup Ave\",\n      \"city\": \"Ottawa\", \n      \"provinceCode\": \"ON\",\n      \"postalCode\": \"K2G 6F2\",\n      \"countryCode\": \"CA\"\n    },\n    \"numLabels\": 1\n  }' \n"
          }
        ],
        "description": "Calculate the rates available for a shipment.\n\nIf no `pickupAddress` is specified then your primary location's address will\nbe used as the pickup address.\n\nPlease review our [Usage Policy](/#section/Usage-Policy) before displaying rates to your customers.\n\nThe rate response will include estimates for post, pickup, and delivery time.\n\nAdditionally, the properties `pickupAfter`, `deliverAfter` and `deliverBefore` can be provided to indicate a\npickup or delivery window. Otheriwse the next available pickup window (i.e. ASAP) is assumed.\n\n**Unexhaustive list of error codes.**\n\n- `invalid-merchant-requirements` = When the requirements specified don't match the requirements granted to the merchant\n- `pickup-address-unserviceable` = When the pickup address cannot be matched to any of the merchant's locations\n- `invalid-pickup-address` = When the pickup address is invalid\n- `pickup-point-outside-zone` = When the pickup address is outside Trexity's service area\n- `invalid-data-payload` = When there are issues with the input data provided\n- `num-labels-too-large` = When numLabels is too large\n- `time-constraint-violation` = When the delivery/pickup time constraints specified cannot be met\n- `service-unavailable` = When API Service Availability Rules in merchant portal prevent rates from being returned\n- `time-constraint-violation` = When the constraint specified by pickupAfter, or deliverAfter and/or deliverBefore cannot be met\n- `post-date-outside-operating-hours` = When the estimated post date is outside Trexity's or the merchant's operating hours\n- `delivery-date-outside-operating-hours` = When the estimated delivery date is outside Trexity's or the merchant's operating hours\n- `pickup-address-outsidetaxboundary` = When the pickup address is outside the province/state of the merchant's location\n- `merchant-disabled` = When the merchant account has been disabled\n- `missing-profile-details` = When the merchant profile is incomplete\n- `delivery-point-outside-zone` = When the delivery address is outside Trexity's service area\n- `pickup-point-outside-zone` = When the pickup address is outside Trexity's service area\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentRateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShipmentRateWithETA"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/regions": {
      "get": {
        "operationId": "getRegion",
        "tags": [
          "Regions"
        ],
        "summary": "Get region",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/regions?addressLine1=123%20Fake%20St&city=Ottawa&provinceCode=ON&postalCode=K2G%206F2&countryCode=CA\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Get the region for a specific pickup address.\n\n### Rate Limiting\n\nThis operation can be requested without authentication, however it will have a\nstrict rate limit of 6 requests every 10 seconds.\n\nHowever, authenticated requests can request 12 times every 10 seconds.\n\n**Possible error codes:**\n- `invalid-address` = When the address cannot be recognized as a valid address\n- `invalid-addressLine1` = When the addressLine1 is missing\n- `invalid-city` = When the city is missing\n- `invalid-postalCode` = When the postalCode is missing, invalid or not acceptedable\n- `invalid-provinceCode` = When the province is missing, or is not acceptedable\n- `invalid-countryCode` = When the country is missing, or is not acceptedable\n",
        "security": [
          {},
          {
            "MerchantApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "addressLine1",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "123 Fake St"
          },
          {
            "in": "query",
            "name": "addressLine2",
            "schema": {
              "type": "string"
            },
            "example": "Unit 4"
          },
          {
            "in": "query",
            "name": "city",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The pickup address from which to generate the market zones.",
            "example": "Ottawa"
          },
          {
            "in": "query",
            "name": "postalCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The pickup address from which to generate the market zones.",
            "example": "K2G 6F2"
          },
          {
            "in": "query",
            "name": "provinceCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The pickup address from which to generate the market zones.",
            "example": "ON"
          },
          {
            "in": "query",
            "name": "countryCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The pickup address from which to generate the market zones.",
            "example": "CA"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Region"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/shipments": {
      "post": {
        "operationId": "createShipment",
        "tags": [
          "Shipments"
        ],
        "summary": "Create shipment",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/shipments\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -d '{\n    \"externalId\": \"order-12345\",\n    \"deliveryAddress\": {\n      \"addressLine1\": \"456 Delivery St\",\n      \"city\": \"Ottawa\",\n      \"provinceCode\": \"ON\",\n      \"postalCode\": \"K1A 0A6\", \n      \"countryCode\": \"CA\"\n    },\n    \"pickupAddress\": {\n      \"addressLine1\": \"123 Pickup Ave\",\n      \"city\": \"Ottawa\",\n      \"provinceCode\": \"ON\",\n      \"postalCode\": \"K2G 6F2\",\n      \"countryCode\": \"CA\"\n    },\n    \"deliveryName\": \"John Doe\",\n    \"deliveryEmail\": \"john.doe@example.com\",\n    \"deliveryPhone\": \"+1-613-555-0123\",\n    \"numLabels\": 1\n  }' \n"
          }
        ],
        "description": "Create a shipment and optionally schedule it for pickup. A rate for the shipment will be calculated at the same time.\n\nIf you want to schedule for pickup use `pickupStartAt` and ensure it matches your market's pickup windows as listed [here](https://trexity.zendesk.com/hc/en-us/articles/16940024932627-Trexity-Pickup-Windows).\n\nIf no `pickupAddress` is specified then your primary location's address will be used as the pickup address.\n\n**Unexhaustive list of error codes.**\n\n- `unauthorized-requirements` = When the requirements specified don't match the requirements granted to the merchant\n- `pickup-address-unserviceable` = When the pickup address cannot be matched to any of the merchant's locations\n- `invalid-pickup-address` = When the pickup address is invalid\n- `invalid-delivery-address` = When the delivery address is invalid\n- `pickup-point-outside-zone` = When the pickup address is outside Trexity's service area\n- `invalid-input` = When there are issues with the input data provided\n- `invalid-delivery-data` = When there are issues with the data provided and the delivery cannot be created\n- `num-labels-too-large` = When numLabels is too large\n- `invalid-scanids` = When the scanId specified is already in use\n- `outside-operating-hours` = When the pickup or delivery time specified is outside the your delivery hours or Trexity's service hours\n- `invalid-scheduled-posting-date` = The scheduling fields are invalid and do not describe a valid pickup window\n- `unauthorized-numlabels` = When total numLabels for the delivery is too large\n- `pickup-address-outsidetaxboundary` = The pickup address is outside the merchant's location province\n- `merchant-disabled` = The merchant has been disabled\n- `missing-profile-details` = The merchant has an incomplete profile\n- `no-shipment-rate` = A delivery rate failed to be calculated due to delivery or pickup address geofencing error\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Shipment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "get": {
        "operationId": "listShipments",
        "tags": [
          "Shipments"
        ],
        "summary": "List shipments",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/shipments?fromDate=2024-01-01&toDate=2024-01-31\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "List shipments that match the specified filters.\n\n## Filtering By Dates\n\nWhen filtering by a date range both the `fromDate` and `toDate` query parameters must be provided. **The maximum date range is 90 days.**\n\n## Mutually exclusive filters\n\nThe following filters are mutually exclusive:\n  - `fromDate` and `toDate`\n  - `externalId`\n  - `metaField1`, `metaField2`, `metaField3`\n",
        "parameters": [
          {
            "in": "query",
            "name": "select",
            "schema": {
              "type": "string"
            },
            "description": "The comma-separated list of fields to include in the shipment response (if not specified or blank then all fields will be included).\n\nIf a field is specified that is not defined by the Shipment object, then responds with HTTP 400. Only top-level fields are supported.\n"
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "$ref": "#/components/schemas/SimplifiedDateISOString"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "$ref": "#/components/schemas/SimplifiedDateISOString"
            }
          },
          {
            "in": "query",
            "name": "externalId",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "description": "The ID of the external entity that is associated to this shipment (e.g. the external order or shipment ID).\n"
            }
          },
          {
            "in": "query",
            "name": "metaField1",
            "schema": {
              "type": "string",
              "maxLength": 1024,
              "description": "Can be a partial string to match the value of the first metadata field\n"
            }
          },
          {
            "in": "query",
            "name": "metaField2",
            "schema": {
              "type": "string",
              "maxLength": 1024,
              "description": "Can be a partial string to match the value of the second metadata field \n"
            }
          },
          {
            "in": "query",
            "name": "metaField3",
            "schema": {
              "type": "string",
              "maxLength": 1024,
              "description": "Can be a partial string to match the value of the third metadata field   \n"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Shipment"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/shipments/{shipmentId}": {
      "delete": {
        "operationId": "deleteDraftShipment",
        "tags": [
          "Shipments"
        ],
        "summary": "Delete draft shipment",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X DELETE \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Attempt to delete shipment with `draft` status.\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the shipment to delete"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "patch": {
        "operationId": "updateShipment",
        "tags": [
          "Shipments"
        ],
        "summary": "Update shipment",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X PATCH \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -d '{\n    \"deliveryName\": \"Jane Doe\",\n    \"deliveryPhone\": \"+1-613-555-0124\"\n  }' \n"
          }
        ],
        "description": "Updates the details of a shipment.\n\n**Unexhaustive list of error codes.**\n\n- `unauthorized-requirements` = When the requirements specified don't match the requirements granted to the merchant\n- `pickup-address-unserviceable` = When the pickup address cannot be matched to any of the merchant's locations\n- `invalid-pickup-address` = When the pickup address is invalid\n- `invalid-delivery-address` = When the delivery address is invalid\n- `pickup-point-outside-zone` = When the pickup address is outside Trexity's service area\n- `invalid-input` = When there are issues with the input data provided\n- `invalid-delivery-data` = When there are issues with the data provided and the delivery cannot be updated\n- `num-labels-too-large` = When numLabels is too large\n- `invalid-scanids` = When the scanId specified is already in use\n- `outside-operating-hours` = When the pickup or delivery time specified is outside the your delivery hours or Trexity's service hours\n- `invalid-scheduled-posting-date` = The scheduling fields are invalid and do not describe a valid pickup window\n- `unauthorized-numlabels` = When total numLabels for the entire delivery is too large\n- `pickup-address-outsidetaxboundary` = The pickup address is outside the merchant's location province\n- `merchant-disabled` = The merchant has been disabled\n- `missing-profile-details` = The merchant has an incomplete profile\n- `no-shipment-rate` = A delivery rate failed to be calculated due to delivery or pickup address geofencing error\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the shipment that needs to be updated"
          }
        ],
        "requestBody": {
          "description": "Payload describing the changes that need to be updated in your shipment",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDTOUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Shipment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "get": {
        "operationId": "getShipment",
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Gets the details of a shipment\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the delivery"
          },
          {
            "in": "query",
            "name": "select",
            "schema": {
              "type": "string"
            },
            "description": "The comma-separated list of fields to include in the delivery response (if not specified or blank then all fields will be included).\n\nIf a field is specified that is not defined by the Delivery object, then responds with HTTP 400. Only top-level fields are supported.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Shipment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/shipments/{shipmentId}/ready-for-pickup": {
      "post": {
        "operationId": "shipmentReadyForPickup",
        "tags": [
          "Shipments"
        ],
        "summary": "Shipment ready for pickup",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}/ready-for-pickup\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Marks a shipment as ready for pickup. A shipment marked as ready for pickup will be dispatched to the first available courier. \n\nCan only mark shipments with the service type `direct` that are in the `draft` status as ready for pickup.\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the shipment that needs to be marked as ready for pickup"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/shipments/{shipmentId}/label": {
      "get": {
        "operationId": "getShipmentLabel",
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment label",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}/label\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Accept: application/pdf\" \n"
          }
        ],
        "description": "Get a shipment's shipping label\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the delivery (can be externalId or delivery ID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "A label that needs to be scanned at pickup by a Trexity courier."
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "A label that needs to be scanned at pickup by a Trexity courier."
                }
              },
              "application/jsonl": {
                "schema": {
                  "type": "string",
                  "format": "jsonl",
                  "description": "JSONL text where each line represents a label encoded as a JSON object. Up to \"numLabels\" (from the delivery) labels are returned.\n\nEach label is an encoded JSON object with the following fields:\n\n- `label`: The label as a base64 encoded string with PNG format.\n- `mimeType`: The MIME type of the label. Default is `image/png`.\n\n**NOTE:** The example shows the response as a JSON encoded string, but in practice\nthe response is actually JSON encoded objects separated by newline characters. This is\na limitation of our OpenAPI renderer.\n\nSee: https://jsonlines.org/\n"
                },
                "example": "{\"label\": \"...base64encodedstring...\", \"mimeType\": \"image/png\"}\n{\"label\": \"...base64encodedstring...\", \"mimeType\": \"image/png\"}\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/shipments/{shipmentId}/status": {
      "get": {
        "operationId": "getShipmentStatus",
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment status",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}/status\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Retrieve a shipment's status\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the delivery (can be externalId or delivery ID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ShipmentStatus"
                        },
                        {
                          "type": "object",
                          "required": [
                            "status"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/shipments/{shipmentId}/pod": {
      "get": {
        "operationId": "getShipmentPod",
        "tags": [
          "Shipments"
        ],
        "summary": "Get proof of delivery",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}/pod\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Accept: image/png\" \n"
          }
        ],
        "description": "Get a shipment's proof of delivery photo or signature.\n\nIf the shipment `requirements.proofOfDelivery` is not `photo+signature` or `signature` then a 404 will be returned.\n\nIf the shipment is not yet completed or not found then a 404 will be returned.\n\n**Possible error codes.**\n\n- `invalid-delivery-id` - The delivery id is invalid.\n- `delivery-not-found` - The delivery is not found.\n- `no-proof-of-delivery` - The delivery does not require a proof of delivery.\n- `delivery-not-completed` - The delivery is not yet completed.\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the delivery (can be externalId or delivery ID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Photographic Proof of Delivery."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/shipments/{shipmentId}/tracking": {
      "get": {
        "operationId": "getShipmentTracking",
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment tracking URL",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}/tracking?lifetime=604800\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Get the tracking URL for a shipment\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lifetime",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2678400,
              "default": 86400
            },
            "examples": {
              "7 days": {
                "summary": "lifetime of 7 days",
                "value": 604800
              }
            },
            "description": "The lifetime of the tracking URL in seconds. Default is 24 hours and maximum is 31 days. After the lifetime passes, the tracking page will respond with 404."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "trackingUrl"
                      ],
                      "properties": {
                        "trackingUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Valid Tracking Url": {
                    "value": {
                      "data": {
                        "trackingUrl": "{tracking-server-url}?token=<jwt token goes here>"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/shipments/{shipmentId}/cancel": {
      "post": {
        "operationId": "cancelShipment",
        "tags": [
          "Shipments"
        ],
        "summary": "Cancel shipment",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/shipments/{SHIPMENT_ID}/cancel\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Cancels a shipment. A cancelled shipment will no longer be able to be assigned to a courier. \n\nCan only cancel shipments that are in the `draft`, `pending`, `assigned`, or `in-transit` status.\n\n**If cancelling a delivery while `assigned` or `in-transit` then a cancellation fee will be charged.**\n",
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the delivery that needs to be cancelled"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/batching-operations": {
      "post": {
        "operationId": "createBatchingOperation",
        "tags": [
          "Batching"
        ],
        "summary": "Create batching operation",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/batching-operations\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -d '{\n    \"pickupAddress\": {\n      \"addressLine1\": \"123 Warehouse St\",\n      \"city\": \"Ottawa\",\n      \"provinceCode\": \"ON\",\n      \"postalCode\": \"K2G 6F2\",\n      \"countryCode\": \"CA\"\n    },\n    \"shipments\": [\n      {\n        \"orderId\": \"order-001\",\n        \"deliveryAddress\": {\n          \"addressLine1\": \"456 Customer Ave\",\n          \"city\": \"Ottawa\",\n          \"provinceCode\": \"ON\",\n          \"postalCode\": \"K1A 0A6\",\n          \"countryCode\": \"CA\"\n        },\n        \"deliveryName\": \"John Doe\",\n        \"deliveryEmail\": \"john.doe@example.com\",\n        \"deliveryPhone\": \"+1-613-555-0123\"\n      }\n    ]\n  }' \n"
          }
        ],
        "description": "Create a batching operation that optimizes a large set of deliveries from the same pickup location into efficient route plans.\n\n### Pickup location and pickup window\nA thing to note is that shipments provided to a batching operation must all have the **same pickup location**, and **cannot have a pickup window specified**.\nTo schedule for a pickup window, you can update any shipment that was created after a [Create \"create shipments\" operation](#operation/createBatchingCreateShipmentsOperation) has completed. This will set the pickup window for all shipments created from a batching operation.\n\n**All order IDs must be unique.**\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchingOperationDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BatchingOperation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/batching-operations/{batchingOperationId}": {
      "get": {
        "operationId": "getBatchingOperation",
        "tags": [
          "Batching"
        ],
        "summary": "Get batching operation",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/batching-operations/{BATCHING_OPERATION_ID}\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Get a batching operation.\n",
        "parameters": [
          {
            "name": "batchingOperationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BatchingOperation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/batching-operations/{batchingOperationId}/create-shipments-operations": {
      "post": {
        "operationId": "createBatchingCreateShipmentsOperation",
        "tags": [
          "Batching"
        ],
        "summary": "Create \"create shipments\" operation",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/batching-operations/{BATCHING_OPERATION_ID}/create-shipments-operations\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Create shipments from a batching optimization. This will create shipments for each batch in the batching optimization.\n",
        "parameters": [
          {
            "name": "batchingOperationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BatchingCreateShipmentsOperation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/batching-operations/{batchingOperationId}/create-shipments-operations/{batchingCreateShipmentsOperationId}": {
      "get": {
        "operationId": "getBatchingCreateShipmentsOperation",
        "tags": [
          "Batching"
        ],
        "summary": "Get \"create shipments\" operation",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/batching-operations/{BATCHING_OPERATION_ID}/create-shipments-operations/{CREATE_SHIPMENTS_OPERATION_ID}\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Get the \"create shipments\" operation.\n",
        "parameters": [
          {
            "name": "batchingOperationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batchingCreateShipmentsOperationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BatchingCreateShipmentsOperation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/webhooks\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -d '{\n    \"eventName\": \"shipment.delivered\",\n    \"url\": \"https://example.com/trexity/webhook-handler\"\n  }' \n"
          }
        ],
        "description": "Create a new webhook for the specified event.\n\nIf a webhook with the same event name and url already exists, a 400 error will be returned.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "eventName",
                  "url"
                ],
                "properties": {
                  "eventName": {
                    "$ref": "#/components/schemas/WebhookEventName"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Secure (https://...) URL to send the webhook request to.",
                    "example": "https://example.com/trexity/webhook-handler"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully register a webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "get": {
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/webhooks\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "List all registered webhooks or registered webhooks for an event.\n",
        "parameters": [
          {
            "in": "query",
            "name": "eventName",
            "schema": {
              "$ref": "#/components/schemas/WebhookEventName"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List registered webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "delete": {
        "operationId": "deleteWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X DELETE \"https://trexity.app/api/v2/webhooks/{WEBHOOK_ID}\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Delete a registered webhook.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "webhookId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted a webhook or if the webhook ID does not exist."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/webhooks/secret-key": {
      "get": {
        "operationId": "getWebhookSecretKey",
        "tags": [
          "Webhooks"
        ],
        "summary": "Get secret key",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/webhooks/secret-key\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "Get the secret key for the webhook signature verification.\n",
        "responses": {
          "200": {
            "description": "Successfully get the secret key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "secretKey"
                      ],
                      "properties": {
                        "secretKey": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "operationId": "listLocations",
        "tags": [
          "Locations"
        ],
        "summary": "List locations",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/locations\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \n"
          }
        ],
        "description": "List all your locations. In order to manage Locations, you need to use the [Merchant Portal](https://merchant.trexity.com/).\n",
        "responses": {
          "200": {
            "description": "List Locations for a Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MerchantLocation"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/locations/find": {
      "post": {
        "operationId": "findLocation",
        "tags": [
          "Locations"
        ],
        "summary": "Find location",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://trexity.app/api/v2/locations/find\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -d '{\n    \"address\": {\n      \"addressLine1\": \"123 Store St\",\n      \"city\": \"Ottawa\",\n      \"provinceCode\": \"ON\",\n      \"postalCode\": \"K2G 6F2\",\n      \"countryCode\": \"CA\"\n    },\n    \"name\": \"MyStore in Nepean\"\n  }' \n"
          }
        ],
        "description": "Find a location by name or address.\n\n**One of name or address or both must be provided.**\n\nIf both are provided, the name will be used to filter the results.\n\n**Possible error codes:**\n- `missing-required-fields` = When both name and address are not provided\n- `invalid-addressLine1` = When the addressLine1 is missing\n- `invalid-city` = When the city is missing\n- `invalid-provinceCode` = When the province is missing, or is not acceptedable\n- `invalid-postalCode` = When the postalCode is missing, invalid or not acceptedable\n- `invalid-countryCode` = When the country is not acceptedable\n- `invalid-address` = When the address cannot be recognized as a valid address\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "type": "object",
                    "description": "Find a location by address",
                    "required": [
                      "address"
                    ],
                    "properties": {
                      "address": {
                        "$ref": "#/components/schemas/AddressDetailsDTO"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Find a location by name",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the location.",
                        "example": "MyStore in Nepean"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Find a location by address and name",
                    "required": [
                      "address",
                      "name"
                    ],
                    "properties": {
                      "address": {
                        "$ref": "#/components/schemas/AddressDetailsDTO"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the location.",
                        "example": "MyStore in Nepean"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MerchantLocation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/receipts/{yearMonth}": {
      "get": {
        "operationId": "listReceipts",
        "tags": [
          "Receipts"
        ],
        "summary": "List receipts",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://trexity.app/api/v2/receipts/2024-01\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Accept: application/json\" \n"
          }
        ],
        "description": "Retrieve the receipts for all or one location for a particular calendar month\n\n**Possible error codes:**\n- `invalid-year` = When the yearMonth has an invalid year\n- `invalid-month` = When the yearMonth has an invalid month\n",
        "parameters": [
          {
            "in": "path",
            "name": "yearMonth",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The year and month like \"YYYY-MM\"",
            "example": "2022-01"
          },
          {
            "in": "query",
            "name": "location",
            "schema": {
              "type": "string"
            },
            "description": "The merchant location ID or case insensitive name. If specified then all receipt items will only be for this lcoation.",
            "example": "My Shop"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Receipt"
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "description": "The receipt items rendered as CSV"
                }
              },
              "text/html": {
                "schema": {
                  "description": "The receipt items rendered as a standalone HTML"
                }
              },
              "application/pdf": {
                "schema": {
                  "description": "The receipt items rendered as a PDF"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "MerchantApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "This authentication strategy uses a Trexity Merchant API KEY. This API KEY is used\nwith the bearer scheme in the Authorization header.\n\nIn order to obtain a Trexity Merchant API key, you need to sign-up as Merchant at https://merchant.trexity.com/\nand create an API KEY through your merchant portal.\n\nFeel free to contact support@trexity.com for any questions you may have.\n\nExample:\n```\ncurl -X POST {server-url}/{path} \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer <Merchant API Key>' \\\n  -d '{ ...body... }'\n```\n"
      }
    },
    "schemas": {
      "AddressDetailsBase": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string",
            "description": "First line of the address",
            "example": "123 Fake St"
          },
          "addressLine2": {
            "type": "string",
            "description": "Second line of the address (apartment, suite, unit, etc.)",
            "example": "Apt 16"
          },
          "city": {
            "type": "string",
            "description": "City name",
            "example": "Ottawa"
          },
          "provinceCode": {
            "type": "string",
            "description": "Province or state code (e.g., ON, BC, CA)",
            "example": "ON"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code or ZIP code",
            "example": "K2G 6F2"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code (e.g., CA, US)",
            "example": "CA"
          }
        }
      },
      "AddressDetailsDTO": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressDetailsBase"
          },
          {
            "type": "object",
            "required": [
              "addressLine1",
              "city",
              "provinceCode",
              "postalCode",
              "countryCode"
            ]
          }
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "DeliveryWindowProps": {
        "type": "object",
        "properties": {
          "pickupAfter": {
            "description": "Date time in Simplified ISO8601 format YYYY-MM-DDTHH:mm:ss.sssZ\n\n**If present then deliverAfter and deliverBefore are ignored.**\n\nIf in the past then defaults to ASAP.\nCan be set to `new Date().toISOString()` or `\"ASAP\"` for ASAP.\n\nNote that ISO date strings are always in UTC time.\n\nAn example: 2020-07-25T10:48:08.987Z\n\nAn example: ASAP\n",
            "type": "string"
          },
          "deliverAfter": {
            "description": "Date time in Simplified ISO8601 format YYYY-MM-DDTHH:mm:ss.sssZ\n\nIf in the past then defaults to ASAP, and must be less than or equal to `deliverBefore` if `deliverBefore` is provided.\nCan be set to `new Date().toISOString()` or `\"ASAP\"` for ASAP.\n\nNote that ISO date strings are always in UTC time.\n\nAn example: 2020-07-25T10:48:08.987Z\n\nAn example: ASAP\n",
            "type": "string"
          },
          "deliverBefore": {
            "description": "Date time in Simplified ISO8601 format YYYY-MM-DDTHH:mm:ss.sssZ\n\nCannot be in the past.\n\nNote that ISO date strings are always in UTC time.\n\nAn example: 2020-07-25T10:48:08.987Z\n",
            "type": "string"
          }
        }
      },
      "ShipmentRequirements": {
        "type": "object",
        "description": "Object representing the requirements that must be met by a courier in order\nfor them to be considered eligible for shipment.\n\nIf no requirements object is specified then the merchant location's default requirements\nwill be used.\n",
        "properties": {
          "vehicleType": {
            "type": "string",
            "description": "Describe the type of vehicle that must be used for a shipment.\n\n- any - Any vehicle type is allowed.\n- small - Sedan, hatchback, etc [example: Honda Civic]\n- medium - SUV or similar [example: Toyota Sienna]\n",
            "enum": [
              "any",
              "small",
              "medium"
            ]
          },
          "proofOfDelivery": {
            "type": "string",
            "enum": [
              "pin+signature",
              "pin",
              "signature",
              "photo"
            ],
            "description": "The proof of delivery that must be provided by the courier.\n\n- pin+signature - A PIN exchange and signature given by the recipient are required.\n- pin - A PIN exchange given by the recipient is required.\n- signature - A signature is required from the recipient.\n- photo - A safe-drop with a photo is required.\n"
          },
          "containsAlcohol": {
            "type": "boolean",
            "description": "Contains any trace of alcohol."
          },
          "requiresLegalAgeVerification": {
            "type": "boolean",
            "description": "Requires legal age verification."
          },
          "perishable": {
            "type": "boolean",
            "description": "Must be delivered by a courier who is equipped to deliver perishable items."
          },
          "returnReusables": {
            "type": "boolean",
            "description": "Must be delivered by a courier who will return collected reusables back to pickup."
          }
        }
      },
      "ShipmentRateDTO": {
        "description": "A simple description of a shipment for rating purposes",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeliveryWindowProps"
          },
          {
            "type": "object",
            "required": [
              "deliveryAddress"
            ],
            "properties": {
              "pickupAddress": {
                "$ref": "#/components/schemas/AddressDetailsDTO"
              },
              "deliveryAddress": {
                "$ref": "#/components/schemas/AddressDetailsDTO"
              },
              "requirements": {
                "$ref": "#/components/schemas/ShipmentRequirements"
              },
              "numLabels": {
                "type": "number",
                "minimum": 1,
                "default": 1,
                "description": "The number of labels for the shipment (each separate package needs a label). \n"
              }
            }
          }
        ]
      },
      "ShipmentRate": {
        "type": "object",
        "required": [
          "name",
          "description",
          "serviceType",
          "currency",
          "fees",
          "subtotal",
          "taxes",
          "totalTaxes",
          "total"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the rate to show to the customer (if applicable)"
          },
          "description": {
            "type": "string",
            "description": "The description of the rate to show to the customer (if applicable)\n"
          },
          "serviceType": {
            "type": "string",
            "example": "default",
            "description": "The shipment service type associated to the shipment rate\n"
          },
          "currency": {
            "type": "string",
            "enum": [
              "CAD",
              "USD"
            ]
          },
          "fees": {
            "type": "array",
            "description": "The breakdown of each fee in the rate.\n",
            "items": {
              "type": "object",
              "required": [
                "type",
                "amount"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "delivery",
                    "fuel",
                    "oversized",
                    "distance",
                    "returnable-features",
                    "large-vehicle",
                    "timewindows-surge"
                  ],
                  "description": "- `delivery` applied for the base delivery fee\n- `fuel` applied for fuel surcharge\n- `oversized` applied for a surplus of labels\n- `distance` applied for long distance deliveries\n- `returnable-features` applied for returnable features such bags, or packaging\n- `large-vehicle` applied for deliveries that require a medium or large vehicle\n- `timewindows-surge` applied for a surcharge fee based on peak time windows\n"
                },
                "amount": {
                  "type": "number",
                  "description": "The amount in cents of the fee."
                }
              }
            }
          },
          "subtotal": {
            "type": "number",
            "description": "The subtotal in cents before taxes.\n"
          },
          "taxes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code",
                "amount",
                "rate"
              ],
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The tax rate code (e.g. \"HST\", \"GST\", \"PST\", etc.)"
                },
                "amount": {
                  "type": "number",
                  "description": "The tax amount in cents."
                },
                "rate": {
                  "type": "number",
                  "description": "The tax rate in decimal form (e.g. 0.13 for 13% tax)."
                }
              }
            }
          },
          "totalTaxes": {
            "type": "number",
            "description": "The total taxes charged in cents.\n"
          },
          "total": {
            "type": "number",
            "description": "The total price in cents after taxes. (subtotal + totalTaxes)"
          }
        }
      },
      "ShipmentRateWithETA": {
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "required": [
              "id",
              "createdAt",
              "expiresAt"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "The ID of the shipment rate. This can be used when creating a shipment\nto use this exact rate. This rate is only valid until it expires and can only be used once\nin a request to create a shipment.\n"
              },
              "createdAt": {
                "type": "string",
                "description": "Date time in Simplified ISO8601 format YYYY-MM-DDTHH:mm:ss.sssZ\n\nThe date and time when the shipment rate was created.\n"
              },
              "expiresAt": {
                "type": "string",
                "description": "Date time in Simplified ISO8601 format YYYY-MM-DDTHH:mm:ss.sssZ\n\nThe date and time when the shipment rate will expire.\n"
              }
            }
          },
          {
            "$ref": "#/components/schemas/ShipmentRate"
          },
          {
            "type": "object",
            "properties": {
              "estimatePickupAt": {
                "description": "Date time in Simplified ISO8601 format YYYY-MM-DDTHH:mm:ss.sssZ\n\nNote that ISO date strings are always in UTC time.\n\nAn example: 2020-07-25T10:48:08.987Z\n",
                "type": "string"
              },
              "estimateDeliverAt": {
                "description": "Date time in Simplified ISO8601 format YYYY-MM-DDTHH:mm:ss.sssZ\n\nNote that ISO date strings are always in UTC time.\n\nAn example: 2020-07-25T10:48:08.987Z\n",
                "type": "string"
              }
            }
          }
        ]
      },
      "GeoJSONPosition": {
        "type": "array",
        "description": "A single position, represented as [longitude, latitude] or [longitude, latitude, altitude].",
        "minItems": 2,
        "maxItems": 3,
        "items": {
          "type": "number"
        }
      },
      "GeoJSONLinearRing": {
        "type": "array",
        "description": "A closed linear ring, an array of four or more positions where the first and last positions are identical. Represents the boundary of a surface or a hole in a surface.",
        "minItems": 4,
        "items": {
          "$ref": "#/components/schemas/GeoJSONPosition"
        }
      },
      "GeoJSONPolygonCoordinates": {
        "type": "array",
        "description": "Array of linear rings",
        "minItems": 1,
        "items": {
          "$ref": "#/components/schemas/GeoJSONLinearRing"
        }
      },
      "Zone": {
        "type": "object",
        "required": [
          "id",
          "geometry",
          "metadata",
          "serviceCity",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of service city zone"
          },
          "geometry": {
            "description": "A geoJSON [Polygon](https://datatracker.ietf.org/doc/html/rfc7946#section-3.1.6) or [MultiPolygon](https://datatracker.ietf.org/doc/html/rfc7946#section-3.1.7)\n",
            "oneOf": [
              {
                "type": "object",
                "required": [
                  "type",
                  "coordinates"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "Polygon"
                    ]
                  },
                  "coordinates": {
                    "$ref": "#/components/schemas/GeoJSONPolygonCoordinates"
                  }
                }
              },
              {
                "type": "object",
                "required": [
                  "type",
                  "coordinates"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "MultiPolygon"
                    ]
                  },
                  "coordinates": {
                    "type": "array",
                    "description": "Array of polygons",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/GeoJSONPolygonCoordinates"
                    }
                  }
                }
              }
            ]
          },
          "metadata": {
            "type": "object",
            "description": "Object that can contain miscellaneous props, but will always contain \"layer\""
          },
          "serviceCity": {
            "type": "string",
            "description": "Service city name"
          },
          "type": {
            "type": "string",
            "enum": [
              "pickup",
              "delivery",
              "surcharge"
            ]
          }
        }
      },
      "Region": {
        "type": "object",
        "required": [
          "pickup",
          "delivery",
          "surcharge"
        ],
        "properties": {
          "pickup": {
            "type": "array",
            "description": "Geographic areas that merchants can create deliveries for pickup from",
            "items": {
              "$ref": "#/components/schemas/Zone"
            }
          },
          "delivery": {
            "type": "array",
            "description": "Geographic areas that merchants can deliver to according to the standard delivery fees\n",
            "items": {
              "$ref": "#/components/schemas/Zone"
            }
          },
          "surcharge": {
            "type": "array",
            "description": "Geographic areas that are considered outside the standard delivery zone and could include a\nsurcharge fee in addition to the standard delivery fee\n",
            "items": {
              "$ref": "#/components/schemas/Zone"
            }
          }
        }
      },
      "SimplifiedDateISOString": {
        "description": "Date time in Simplified ISO8601 format `YYYY-MM-DDTHH:mm:ss.sssZ`\n\nNote that ISO date strings are always in UTC time.\n\nAn example: `2020-07-25T10:48:08.987Z`\n",
        "type": "string",
        "nullable": true
      },
      "ShipmentStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "- `draft`: The shipment is not currently scheduled.\n- `pending`: The shipment is scheduled and waiting for courier assignment.\n- `assigned`: The shipment is assigned to a courier.\n- `in-transit`: The shipment is in transit to the destination address.\n- `delivered`: The shipment has been delivered.\n- `undeliverable`: The shipment was attempted but could not be delivered, and the shipment was returned.\n- `cancelled`: The shipment was cancelled.\n",
            "enum": [
              "draft",
              "pending",
              "assigned",
              "in-transit",
              "delivered",
              "undeliverable",
              "cancelled"
            ]
          }
        }
      },
      "PickupStartAt": {
        "description": "Specifies the start of the pickup window (i.e. the earliest time that the courier can arrive to pickup).\nThe second and millsecond time components of the date will be ignored.\n\nWhen specified, this value must match the start of an available pickup window.\n\nIf the shipment is a Direct shipment, then any pickup start time in the future\nis available. It will be implied that the pickup window is 2 hours long from the start time.\n\nReview the available [pickup windows](https://trexity.zendesk.com/hc/en-us/articles/16940024932627-Pickup-windows)\nfor Everyday (default) shipments.\n\n**Data type**\n\nDate time in Simplified ISO8601 format `YYYY-MM-DDTHH:mm:ss.sssZ`\n\nNote that ISO date strings are always in UTC time.\n\nAn example: `2020-07-25T10:48:08.987Z`\n",
        "type": "string",
        "nullable": true
      },
      "PickupEndAt": {
        "description": "Specifies the end of the pickup window (i.e. the latest time that the courier can arrive to pickup).\nThe second and millsecond time components of the date will be ignored.\n\nWhen specified, this value must match the end of the available pickup window indicated by the value of `pickupStartAt`.\n\nReview the available [pickup windows](https://trexity.zendesk.com/hc/en-us/articles/16940024932627-Pickup-windows).\n\n**Data type**\n\nDate time in Simplified ISO8601 format `YYYY-MM-DDTHH:mm:ss.sssZ`\n\nNote that ISO date strings are always in UTC time.\n\nAn example: `2020-07-25T10:48:08.987Z`\n",
        "type": "string",
        "nullable": true
      },
      "DeliverStartAt": {
        "description": "The estimated time the delivery work will start. This will always match one\nof your suggested [delivery windows](https://merchant.trexity.com/api).\n\n**Data type**\n\nDate time in Simplified ISO8601 format `YYYY-MM-DDTHH:mm:ss.sssZ`\n\nNote that ISO date strings are always in UTC time.\n\nAn example: `2020-07-25T10:48:08.987Z`\n",
        "type": "string",
        "nullable": true
      },
      "DeliverEndAt": {
        "description": "The estimated time the delivery work will end. This will always match one\nof your suggested [delivery windows](https://merchant.trexity.com/api).\n\n**Data type**\n\nDate time in Simplified ISO8601 format `YYYY-MM-DDTHH:mm:ss.sssZ`\n\nNote that ISO date strings are always in UTC time.\n\nAn example: `2020-07-25T10:48:08.987Z`\n",
        "type": "string",
        "nullable": true
      },
      "ShipmentPickupAddressField": {
        "type": "object",
        "properties": {
          "pickupAddress": {
            "$ref": "#/components/schemas/AddressDetailsDTO"
          }
        }
      },
      "ShipmentDeliveryAddressField": {
        "type": "object",
        "properties": {
          "deliveryAddress": {
            "$ref": "#/components/schemas/AddressDetailsDTO"
          }
        }
      },
      "ShipmentAddressingFields": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ShipmentPickupAddressField"
          },
          {
            "$ref": "#/components/schemas/ShipmentDeliveryAddressField"
          }
        ]
      },
      "ShipmentLoad": {
        "type": "object",
        "required": [
          "length",
          "width",
          "height",
          "weight"
        ],
        "description": "Optional dimensions and weight of the shipment.\n\nThe maximum dimensions are 91 cm for any dimension. The maximum for weight is 15876 grams.\n",
        "properties": {
          "length": {
            "type": "integer",
            "minimum": 0,
            "maximum": 91,
            "description": "Length (in centimeters). Maximum is ~3 feet."
          },
          "width": {
            "type": "integer",
            "minimum": 0,
            "maximum": 91,
            "description": "Width (in centimeters). Maximum is ~3 feet."
          },
          "height": {
            "type": "integer",
            "minimum": 0,
            "maximum": 91,
            "description": "Height (in centimeters). Maximum is ~3 feet."
          },
          "weight": {
            "type": "integer",
            "minimum": 0,
            "maximum": 15876,
            "description": "Weight (in grams). Maximum is ~35 lbs."
          }
        }
      },
      "ShipmentOrderFields": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "maxLength": 20,
[...]
